@media screen and (max-width: 1024px) {
    .py-block {
      font-size: 14px;
    }
    .city-heading {
      font-size: 14px;
    }
    .course-wrapper {
      max-height: 119px;
    }
    .new-city {
      padding: 33px 0px;
    }
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        letter-spacing: 1px;
        background: #fff;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        border-bottom: 1px solid #ddd;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid #ddd;
        background: #fff;
        color: #333;
    }
    .navbar-custom a {
        color: #333;
      }
}

@media all and (max-width: 769px) {
  #about {
    padding-top: 50px;
    padding-bottom: 0px;
}
.about-p {
    padding-bottom: 40px;
    padding-top: 15px;
    min-height: 100px;
    max-height: 100px;
}
.course-i {
  border-right: none;
}
#about2 {
    padding-top: 15px;
    padding-bottom: 10px;
}
.partners div:nth-child(4) {
    margin-left: -23px;
}
.partners div:nth-child(5) {
    margin-left: 13px;
}
.city-box {
  margin-bottom: 60px;
  height: 140px;
}
span.pull-right.actual-address {
  float: left !important;
  margin-top: 20px;
}
.sections {
  margin-left: 0px;
}
}
