
.pull-right li {
  padding-top: 10px;
}
.about-p a {
  color: #8e8c8d;
}
a:hover,
a:focus,
.city-address a:hover,
.city-address a:focus,
.meetup-address a:hover,
.meetup-address a:focus,
.meetup-heading a:hover,
.meetup-heading a:focus,
.meetup-registration a:hover,
.meetup-registration a:focus {
    text-decoration: none;
    color: #fa023c;
}
.smaller {
  font-size: 25px !important;
}
/* NAVIGATION */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: none;
    background-color: #fff;
    color: #333;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-nav>li>.dropdown-menu {
    border: none;

}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom a {
    color: #333;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
.nav>li>a:focus, .nav>li>a:hover,
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background: transparent;
  color: #fa023c;
}

/*******************
INTRO IMAGES
*******************/
.intro-city, .intro-info {
    display: none;
}

/*******************
HOMEPAGE
*******************/
.join a,
.join {
    color: #333;
}
.logo-i {
  height: 80px;
  width: auto;
    margin-top: -10px;
}

#news {
    padding-top: 50px;
    padding-bottom: 30px;
}
#news-main-title {
    margin: 0;
    color: #000000;
}
.news-title {
  margin-bottom: 20px;
  color: #000000;
}
.news-p {
  padding: 40px 40px 40px 0;
  color: #8e8c8d;
}

#about {
    padding-top: 30px;

}
.about-link a {
    color: #e51f40;
}
.about-link a:hover {
    color: #333;
}
.about-p {
    color: #8e8c8d;
}
.about-p {
    height: auto;
    min-height: 200px;
    max-height: 300px;
    padding-top: 15px;
}
#start {
    padding-top: 65px;
    padding-bottom: 65px;
    background: #f8f9fa;
}
.start-p {
    color: #8e8c8d;
    padding: 25px 0px;
}
.partners {
    height: auto;
    background: #fff;
    padding: 10px 0px;
}
.partners h2 {
    padding-bottom: 35px;
}

.partner-logo {
    width: 165px;
    height: 76px;
    padding-bottom: 20px;
    margin: auto;
}

.partner-logo.logo-kiwi {
  height: 110px !important;
}

.ref-heading {
    padding: 25px 0px;
    color: #fff;
    font-size: 30px;
}
.ref {
    position: relative;
    height: auto;
    max-height: 50%;
    color: #fff;
    text-align: left;
}
.ref-p {
    float: left;
    font-style: italic;
}
.py-icon-i {
    width: 50px;
    float: left;
    margin: 60px auto 0 auto;
    height: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
.new-city {
    color: rgb(229, 31, 64);
    font-weight: 700;
    padding: 62px 0px;
}

.course-wrapper div:nth-child(4) {
    border-right: none;
}

.img-user {
  width: 30px;
  margin-right: 10px;
  float: left;
}

.cities-banner ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    max-width: 1170px;
    margin: 0 auto;

}
.cities-banner a {
    display: flex;
    flex-direction: column;
    outline: none;
}
.cities-banner img{
    width: 100%;
}
.cities-banner span{
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 100%;
    line-height: 100px;
}
.cities-banner {
    background-color: #e51f40;
    background-image: url(../img/bcg.svg);
    background-position: top left;
    background-repeat: repeat-x;
}
.cities-banner.faded-banner {
    background: #8e8c8d;
    background-image: url(../img/bcg.svg);
    background-position: top left;
    background-repeat: repeat-x;
}
.cities-banner li {
    background: #e51f40;
}
.cities-banner.faded-banner li {
    background: #8e8c8d;
}
.cities-banner li.current-city {
    background: #e51f40;
}
.cities-banner li:hover {
    background: #333;
}
.head li{
    list-style-type: none;
    text-align: center;
    padding: 40px 20px;
    min-height: 200px;
}
h3, span {
    color: #333;
}
.container a img{
    margin: 0 auto;
}


.dropdown:hover .dropdown-menu, .dropdown:focus .dropdown-menu {
  display: block;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 1px 8px 1px rgba(51, 51, 51, 0.13);
  background-color: #f7f7f7;
}

/*******************
CITIES PAGE
*******************/
#about2 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.info-city {
    padding-top: 55px;
    padding-bottom: 85px;
}
.info-city div div h2 {
    padding-bottom: 25px;
}
.city-heading {
    font-weight: bold;
    color: #333;
}
.city-heading a {
    color: #333;
}
.city-info,
.city-address a {
    color: #8e8c8d;
}
.meetup-box .glyphicon {
    font-size: 20px;
    float: left;
    padding-right: 15px;
    padding-bottom: 0px;
    color: #8e8c8d;
    height: 30px;
}

.meetup-box div {
  margin-bottom: 40px;
}

.meetup-heading  {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.meetup-heading a {
  color: #333;
}
.meetup-date,
.meetup-time,
.meetup-topic,
.meetup-address a,
.meetup-registration a {
    color: #8e8c8d;
}
.meetup {
    padding-top: 40px;
}

.advice {
    height: auto;
    padding-top: 30px;
    padding-bottom: 55px;
    background: #e51f40;

}
.course-wrapper {
    display: block;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0 15px 0;
}
.py-block.pull-left {
    min-height: 145px;
    padding: 15px 0px;
}
.course-wrapper .course-i:nth-child(4) {
    border-right: none;
}
.course-i {
    position: relative;
}
.course-city {
    padding: 0px 5%;
}
.course-city-p {
    color: #8e8c8d;
}
.actual-address a .glyphicon.glyphicon-map-marker {
  margin-right: 8px;
}
.sections {
    margin-top: 20px;
    background: #fff;
    border: 1px solid #E0E0E0;
    height: auto;
    padding: 0px 0px;
    margin-left: 15px;
}

.member-box .img-circle {
  width: 80%;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
}



.member-box  ul li a img {
  width: 20px;

}

.member-box ul li {
  margin-top: 14px;
margin-right: -30px;
width: 30px;
margin-left: -30px;
}
.team{
  display: flex;
}
.member{
  flex: 1 1 30%;
}
.member-box {
    margin-bottom: 30px;
    min-height: 400px;
}

.section-heading {
        margin-top: 0px;
        background-color: #EDEDED;
        border-bottom: 1px solid #E0E0E0;
        padding: 15px 15px;
        font-weight: bold;
}
.section-info,
.section-homework {
        color: #8e8c8d;
        padding: 15px 15px;
}

.section-info a {
  color: #8e8c8d;
}

.section-active {
    background: #e51e41;
    color: #fff;
}
.section-active .section-date {
    color: #fff;
}
.section-date {
    font-weight: 400;
    font-size: 14px;
    color: #999;
}
.section-icon {
    margin-right: 15px;
    height: 25px;
    margin-top: 2px;
    float: left;
}
.section-box .course-city-p {
  margin-left: 15px;
}
.glyphicon-remove, .section-todo {
    color: #D32F2F;
}
.glyphicon-ok, .section-done {
    color: #00796B;
}
.github-divider {
        background: #333;
        height: 80px;
        position: relative;
}
section.other-activities {
    margin: 0;
    padding: 0 10px 50px;
    width: 100%;
}
section.recommendations,
section.contacts {
    margin: 0;
    margin-top: 50px;
    padding: 0 10px 50px;
    background: rgb(229,31,64);
    color: #fff;
    width: 100%;
}
section.contacts div a {
    color: #fff;
}
.photo-box {
    height: auto;
    padding-top: 300px;
}
.city-box {
    height: 240px;
    overflow: hidden;
    margin-bottom: 80px;
}
.city-image {
    height: auto;
}
.start-title2 {
    padding: 30px 0px;
}
.start-title3 {
    padding-bottom: 40px;
}


/*****
STAN SE
*****/

.role-requirements {
    list-style-type: none;
    padding:0;
}
.role-requirements li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*****
FAQ
*****/

.faq h3 {
	margin-top: 40px;
  margin-bottom: 20px;
}

.faq p {
	color: #8e8c8d;
}

/*******************
BECOME PYLADY /stan_se
********************/
.become-pylady{
    padding: 0 10%;

}
.become-pylady h3 {
    margin-top: 40px;

}

.become-pylady p {
	color: #8e8c8d;
}
