html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.main-navbar {
    outline: 0;
    margin-bottom: 0;
    border-bottom: none;
    background-color: #fff;
    color: #333;
}

.main-navbar .navbar-logo img {
    height: 80px;
    display: block;
    position: absolute;
    top: 10px;
}
.main-navbar .navbar-other {
    padding-top: 10px;
    padding-left: 200px;
    min-height: 80px;
    text-align: right;
}
.main-navbar .navbar-other li {
    display: inline-block;
    list-style-type: none;
    padding-left: 20px;
    color: #333;
}
.main-navbar .navbar-other a {
    color: #333;
}
.main-navbar .navbar-other a:hover {
    color: #e51f40;
}

.navbar-cities ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    max-width: 1170px;
    margin: 0 auto;

}
.navbar-cities a {
    display: flex;
    flex-direction: column;
    outline: none;
}
.navbar-cities img{
    width: 100%;
}
.navbar-cities span{
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 100%;
    line-height: 9vw;
}
@media all and (min-width: 1000px) {
    .navbar-cities span{
        font-size: 2.3em;
        line-height: 100px;
    }
}
.navbar-cities {
    background-color: #e51f40;
    background-image: url(../img/bcg.svg);
    background-position: top left;
    background-repeat: repeat-x;
}
.navbar-cities.faded-banner {
    background: #8e8c8d;
    background-image: url(../img/bcg.svg);
    background-position: top left;
    background-repeat: repeat-x;
}
.navbar-cities li {
    background: #e51f40;
}
.navbar-cities.faded-banner li {
    background: #8e8c8d;
}
.navbar-cities li.current-city {
    background: #e51f40;
}
.navbar-cities li:hover {
    background: #333;
}

body > footer {
    background: #333;
    color: rgba(255, 255, 255, 0.2);
    padding-bottom: 2px;
    padding-top: 10px;
    margin-top: 20px;
}

body > footer ul {
    display: block;
    float: right;
    padding: 0.5em;
}

body > footer li {
    list-style: none;
    display: inline;
}

body > footer img {
    width: 40px;
    opacity: 0.5;
}

body > footer img:hover {
    opacity: 1;
}

body > footer .clear {
    clear: both;
}

body > footer .global-pyladies a,
body > footer .about-p a {
  color: #8e8c8d;
}

body > footer .global-pyladies {
    margin-top: 15px;
    color: #aeacad;
    float: left;
}

body > footer .global-pyladies a {
    color: white;
}

body > footer .global-pyladies a:hover {
    text-shadow: 0 0 5px white;
    color: white;
}
