@media all and (max-width: 1365px) {
  .py-block {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
    .py-block {
      font-size: 14px;
    }
    .city-heading {
      font-size: 14px;
    }
    .new-city {
      padding: 33px 0px;
    }

    .news-summer-p {
          min-height: 645px;
    }
}

@media(min-width:768px) {
  .join a,
  .join {
      color: #e51e41;
  }



    .navbar-custom {
        padding: 5px 0;
        letter-spacing: 1px;
        background: #fff;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        border-bottom: 1px solid #ddd;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid #ddd;
        background: #fff;
        color: #333;
    }
    .navbar-custom a {
        color: #333;
      }
      .navbar-custom .nav li a {
          -webkit-transition: background .3s ease-in-out;
          -moz-transition: background .3s ease-in-out;
          transition: background .3s ease-in-out;
      }
      .navbar-custom .nav li a:hover,
      .navbar-custom .nav li a:focus,
       {
          outline: 0;
          color: #e51e41;
          background-color: transparent;
      }

      .navbar-custom .nav li a:active {
          outline: 0;
          background-color: transparent;
      }
      .navbar-custom .nav li a:active {
          color: #fff;
      }
      .navbar-custom .nav li.active {
          outline: 0;
      }
      .navbar-custom .navbar-brand .navbar-toggle {
          padding: 4px 6px;
          font-size: 16px;
          color: #fff;
      }
      .navbar-custom .navbar-brand .navbar-toggle:focus,
      .navbar-custom .navbar-brand .navbar-toggle:active {
          outline: 0;
      }

      .navbar-custom .nav li.active a {
          background-color: #e51e41;
      }
      .navbar-custom .nav li.active a:hover,
      .navbar-custom .nav li.active a:focus {
          color: #fff;
      }


      .dropdown-menu .sub-menu {
          left: 100%;
          position: absolute;
          top: 0;
          visibility: hidden;
          margin-top: -1px;
      }
      .dropdown-menu li:hover .sub-menu,
      .dropdown-menu li:focus .sub-menu  {
          visibility: visible;
      }
      .dropdown:hover .dropdown-menu,
      .dropdown:focus .dropdown-menu {
          display: block;
      }
      .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
          margin-top: 0;
      }
      .navbar .sub-menu:before {
          border-bottom: 7px solid transparent;
          border-left: none;
          border-right: 7px solid rgba(0, 0, 0, 0.2);
          border-top: 7px solid transparent;
          left: -7px;
          top: 10px;
      }
      .navbar .sub-menu:after {
          border-top: 6px solid transparent;
          border-left: none;
          border-right: 6px solid #fff;
          border-bottom: 6px solid transparent;
          left: 10px;
          top: 11px;
          left: -6px;
       }



}

@media all and (max-width: 767px) {
  img {
    width: auto  !important;
  }

  .col-xs-12.col-sm-12.col-md-4.col-lg-4.about {
    margin-top: 50px;
  }
  .news-summer-p {
        min-height: auto;
        margin-top: 60px;
        border: none;
  }

  .member-box  ul li a img {
    width: 20px !important;

  }

a .about img {
  width: 110px;
  height: 110px;
}

img.partner-logo {
  width: auto !important;
  display: block;
}
}

@media all and (max-width: 767px) {
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
  .nav .open>a, .nav .open>a:focus, .nav .open>a:focus {
    color: #fa023c;
  }
  .navbar-custom a {
    color: #333;
  }
  a.dropdown-toggle {
    color: #333;
  }
  .navbar-nav>li>.dropdown-menu {
      position: relative;
      display: inline;
      width: 100%;
      border: none;
      margin-bottom: 20px;

  }

  .dropdown-menu {
    -webkit-background-clip: none;
    background-clip: none;
    border: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: transparent;
    box-shadow: 0 6px 12px rgba(0,0,0,0);
  }
}

@media all and (max-width: 768px) {
  #about {
    padding-top: 50px;
    padding-bottom: 0px;
}
.about-p {
    padding-bottom: 40px;
    padding-top: 15px;
    min-height: 100px;
    max-height: 100px;
}
.course-i {
  border-right: none;
}
#about2 {
    padding-top: 15px;
    padding-bottom: 10px;
}
.city-box {
  margin-bottom: 60px;
  height: 140px;
}
span.pull-right.actual-address {
  float: left !important;
  margin-top: 20px;
}
.sections {
  margin-left: 0px;
}

.partner-logo {
  height: 85px !important;
}
img.partner-logo.logo-cz {
  height: 65px !important;
}
button.btn.btn-couch {
  margin-right: -10px;
}
.course-city {
    padding: 5px 15px;
}
}

@media all  and (max-width: 736px)  {
  .course-wrapper {
    max-height: none;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: inline-flex;
    max-width: 50%;
}
.couch {
  padding-bottom: 10px;
}
.meetup-box .col-xs-12 {
  width: 50%;
}
.course-city {
    padding: 35px 18px;
}
.about-p {
  max-height: 115px;
}
.partners div:nth-child(4) {
    margin-left: 15px;
}
.left-couch, .right-couch {
  margin-left: -30px;
}

}

@media all  and (max-width: 667px)  {
  .course-wrapper {
    max-height: none;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: inline-flex;
    max-width: 50%;
}
.couch {
  padding-bottom: 10px;
}
.meetup-box .col-xs-12 {
  width: 50%;
}
.course-city {
    padding: 35px 17px;
}
.about-p {
  max-height: 115px;
}
.course-city-p {
  padding-bottom: 55px;
}
.partner-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.info-city {
  padding-bottom: 20px !important;
}
.left-couch, .right-couch {
  margin-left: -30px;
}

button.btn.btn-couch {
  margin-left: -35px;
}
}
@media all and (max-width: 568px) {
.btn-couch {
  margin-left: -56px;
}

p.pull-left.copy {
    font-size: 14px;
    margin-top: 15px;
}
button.btn.btn-couch {
  margin-left: 50px;
}
}
@media all and (max-width: 414px) {
  .intro-text {
    margin-top: 70px;
  }
  .about-p {
    max-height: 165px;
}
img.partner-logo{
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
.copy {
  display: none;
}
.meetup-box .col-xs-12 {
  width: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline-flex;
    max-width: 98%;
}
.btn-couch {
    margin-left: -140px;
}
.actual .col-xs-5 {
  width: 85%;
}
.intro-text-city {
  font-size: 40px;
}
.smaller {
    font-size: 18px;
}
.section-icon {
  height: 45px;
}
button.btn.btn-couch {
    margin-left: -154px;
}

a .news-summer .news-title {
  font-size: 14px;
}

a .about .about-title {
  font-size: 14px;
}
}

@media all and (max-width: 384px) {
  .intro-text {
    margin-top: 70px;
  }
  .about-p {
    max-height: 195px;
  }
  img.partner-logo{
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  }
  .copy {
  display: none;
  }
  .meetup-box .col-xs-12 {
  width: 100%;
  }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline-flex;
    max-width: 98%;
  }
  .btn-couch {
    margin-left: -140px;
  }
  .actual .col-xs-5 {
  width: 85%;
  }
  .intro-text-city {
  font-size: 40px;
  }
  .smaller {
    font-size: 14px !important;
  }
  .section-icon {
  height: 45px;
  }

  .partners div:nth-child(4) {
      margin-left: -5px;
  }
  h4.actual-heading {
    font-size: 16px;
  }
  .section-box .course-city-p {
    padding-bottom: 20px !important;
  }


}

@media all and (max-width: 375px) {
  .intro-text {
    margin-top: 70px;
  }
  .about-p {
    max-height: 195px;
  }
  img.partner-logo{
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  }
  .copy {
  display: none;
  }
  .meetup-box .col-xs-12 {
  width: 100%;
  }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline-flex;
    max-width: 98%;
  }
  .btn-couch {
    margin-left: -140px;
  }
  .actual .col-xs-5 {
  width: 85%;
  }
  .intro-text-city {
  font-size: 40px;
  }
  .smaller {
    font-size: 14px !important;
  }
  .section-icon {
  height: 45px;
  }

  .partners div:nth-child(4) {
      margin-left: -5px;
  }
  h4.actual-heading {
    font-size: 16px;
  }
  .section-box .course-city-p {
    padding-bottom: 20px !important;
  }


}
@media all and (max-width: 320px) {
  .intro-text {
    margin-top: 70px;
  }
  .about-p {
    max-height: 250px;
  }
  .section-heading {
    font-size: 10px;
  }
  .section-date {
    font-size: 10px;
  }
  img.partner-logo{
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  }
  .copy {
  display: none;
  }
  .meetup-box .col-xs-12 {
  width: 100%;
  }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline-flex;
    max-width: 98%;
  }

  .actual .col-xs-5 {
  width: 85%;
  }
  .intro-text-city {
  font-size: 40px;
  }
  .smaller {
    font-size: 18px;
  }
  .section-icon {
  height: 45px;
  }

  img.partner-logo.logo-cz {
    height: 56px !important;
  }
  .partner-logo {
    height: 70px !important;
}

.btn-couch {
  padding: 10px 16px;
  margin-left: -147px !important;
}

a .about img {
  height: 80px;
}

.py-block.pull-left {
    min-height: 180px;
}

}
