@media all and (min-width: 1024px) {
  .py-block {
    font-size: 14px;
  }
  .member-box{
    min-height: 350px;
  }
}
@media screen and (max-width: 1024px) {
    .py-block {
      font-size: 14px;
    }
    .city-heading {
      font-size: 14px;
    }
    .new-city {
      padding: 33px 0px;
    }
}
@media(max-width:992px){
    .member-box{
        min-height: 380px;
    }
    .member_box .img-circle{
        width: 70%;
    }
}

@media all and (max-width: 767px) {
  img {
      width: auto;
    }

    .col-xs-12.col-sm-12.col-md-4.col-lg-4.about {
      margin-top: 50px;
    }
    .member-box  ul li a img {
      width: 20px !important;
    }
    .member-box{
      min-height: 380px
    }
  a .about img {
    width: 100%;
    height: auto;
  }
  img.partner-logo {
    width: auto !important;
    display: block;
  }
}
@media(min-width:768px) {
  .intro,
  .intro-info {
    height: 76%;
    padding: 0;
  }
  .intro .intro-body .brand-heading,
  .intro-info .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text,
  .intro-info .intro-body .intro-text {
    font-size: 26px;
    font-weight: 800;
  }
}

@media all and (max-width: 767px) {
  #about {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .about-p {
    padding-bottom: 40px;
    padding-top: 15px;
    min-height: 100px;
    max-height: 100px;
  }
  .course-i {
    border-right: none;
  }
  #about2 {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .city-box {
    margin-bottom: 60px;
    height: 140px;
  }
  span.pull-right.actual-address {
    float: left !important;
    margin-top: 20px;
  }
  .sections {
    margin-left: 0px;
  }

  .partner-logo {
    height: 85px !important;
  }
  img.partner-logo.logo-cz {
    height: 65px !important;
  }
  .course-city {
    padding: 5px 15px;
  }
}

@media all  and (max-width: 767px) {
  .course-wrapper {
    max-height: none;
  }
  .meetup-box .col-xs-12 {
    width: 50%;
  }
  .course-city {
    padding: 35px 18px;
  }
  .about-p {
    max-height: 115px;
  }
  .partners div:nth-child(4) {
    margin-left: 15px;
  }
}

@media all  and (max-width: 667px) {
  .course-wrapper {
    max-height: none;
  }
  .meetup-box .col-xs-12 {
    width: 50%;
  }
  .course-city {
    padding: 35px 17px;
  }
  .about-p {
    max-height: 115px;
  }
  .course-city-p {
    padding-bottom: 55px;
  }
  .partner-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .info-city {
    padding-bottom: 20px !important;
  }
}


@media(min-width:568px) {
  .join a,
  .join {
      color: #e51e41;
  }
}

@media(max-width: 568px){
  .member-box .img-circle {
    width: 30%;
  }
  .member-name {
    font-size: 14px;
  }
  .member_box strong{
    font-size: 12px;
  }
  .member-box{
    min-height: 200px
  }
}

@media all and (max-width: 568px) {
  p.pull-left.copy {
    font-size: 14px;
    margin-top: 15px;
  }
}
@media all and (max-width: 414px) {
  .intro-text {
    margin-top: 70px;
  }
  .about-p {
    max-height: 165px;
  }
  img.partner-logo{
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  .copy {
    display: none;
  }
  .meetup-box .col-xs-12 {
    width: 100%;
  }
  .actual .col-xs-5 {
    width: 85%;
  }
  .intro-text-city {
    font-size: 40px;
  }
  .smaller {
      font-size: 18px;
  }
  .section-icon {
    height: 45px;
  }
  a .about .about-title {
    font-size: 14px;
  }
}

@media all and (max-width: 384px) {
  .intro-text {
    margin-top: 70px;
  }
  .about-p {
    max-height: 195px;
  }
  img.partner-logo{
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  .copy {
    display: none;
  }
  .meetup-box .col-xs-12 {
    width: 100%;
  }
  .actual .col-xs-5 {
    width: 85%;
  }
  .intro-text-city {
    font-size: 40px;
  }
  .smaller {
    font-size: 14px !important;
  }
  .section-icon {
    height: 45px;
  }
  .partners div:nth-child(4) {
    margin-left: -5px;
  }
  h4.actual-heading {
    font-size: 16px;
  }
  .section-box .course-city-p {
    padding-bottom: 20px !important;
  }
}

@media all and (max-width: 375px) {
  .intro-text {
    margin-top: 70px;
  }
  .about-p {
    max-height: 195px;
  }
  img.partner-logo{
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  .copy {
    display: none;
  }
  .meetup-box .col-xs-12 {
    width: 100%;
  }
  .actual .col-xs-5 {
    width: 85%;
  }
  .intro-text-city {
    font-size: 40px;
  }
  .smaller {
    font-size: 14px !important;
  }
  .section-icon {
    height: 45px;
  }
  .partners div:nth-child(4) {
    margin-left: -5px;
  }
  h4.actual-heading {
    font-size: 16px;
  }
  .section-box .course-city-p {
    padding-bottom: 20px !important;
  }
}

@media all and (max-width: 320px) {
  .intro-text {
    margin-top: 70px;
  }
  .about-p {
    max-height: 250px;
  }
  .section-heading {
    font-size: 10px;
  }
  .section-date {
    font-size: 10px;
  }
  img.partner-logo{
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  .global-pyladies {
    float: none;
  }
  .meetup-box .col-xs-12 {
    width: 100%;
  }
  .actual .col-xs-5 {
    width: 85%;
  }
  .intro-text-city {
    font-size: 40px;
  }
  .smaller {
    font-size: 18px;
  }
  .section-icon {
    height: 45px;
  }
  img.partner-logo.logo-cz {
    height: 56px !important;
  }
  .partner-logo {
    height: 70px !important;
  }
  a .about img {
    width: 100%;
    height: auto;
}
  .py-block.pull-left {
    min-height: 180px;
}
}
