{% extends "layout.html" %}

{% block content %}
  <!-- Intro Header -->
  <header class="intro-info intro-city-brno">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                      <p class="intro-text-city">BRNO</p>
                  </div>
              </div>
          </div>
      </div>
  </header>
  
      <!-- About city section -->
      <section class="info-city container text-center">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <h2 class="course-city-heading">Jak to v Brně vzniklo?</h2>
                <p class="course-city-p">Bylo nebylo, přijela jednou do Brna na návštěvu Lynn Root, která vede PyLadies v San Franciscu. Zrovna probíhala konference RuPy 2012, a v rámci ní Lynn uspořádala půldenní workshop pod hlavičkou PyLadies. Ale potom odjela, než našla dostatečně akční Pythonistku, která by to po ní převzala.</p>
            </div>
            <div class="photo-box">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno1.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno2.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno3.jpg', 1) }}" class="img-responsive city-image" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <p class="course-city-p">Až po více než roce se na Facebooku ozvaly tři studentky, které se Python učily na škole a potřebovaly doučování. Vzpomněli jsme si na balíček samolepek PyLadies, co tu nechala Lynn, a rozhodli se to doučování udělat pod touto značkou. A odtud byl už jen krůček k začátečnickým kurzům i jiným srazům.</p>
            </div>
        </div>
    </section>
    <!-- Advice section -->
    <section id="about3" class="container-fluid content-section text-center">
        <div class="row">
              <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
                <a href="https://www.facebook.com/groups/pyladiesBrno">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/facebook.png', 1) }}">
                        <h4 class="about-title">Facebook PyLadies Brno</h4>
                    </div>
                </a>
                <a href="https://groups.google.com/forum/#!forum/pyladies-brno">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/google-group.png', 1) }}" />
                        <h4 class="about-title">Google Group PyLadies Brno</h4>
                    </div>
                </a>
                <a href="mailto:encukou@gmail.com">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/coach.png', 1) }}" />
                        <h4 class="about-title">Napiš koučovi</h4>
                    </div>
                </a>
        </div>
    </section>
{% endblock content %}
