{% extends "layout.html" %}

{% block content %}
  <!-- Intro Header -->
  <header class="intro-info intro-city-brno">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                      <p class="intro-text-city">BRNO</p>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- Meetups -->
  <section class="meetup container text-center" id="meetups">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-lg-10 col-md-10">
              <h2 class="course-city-heading">Aktuální kurzy a srazy</h2>
          </div>
          <div class="meetup-box text-left">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h4 class="meetup-heading">PyLadies Brno<br>začátečnický kurz</h4>
                <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>7.3.2016 - 6.6.2016</p>
                <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>Každé pondělí 18:00 - 20:00</p>
                <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.cz/maps/place/BC+TITANIUM/@49.1879995,16.604512,17z/data=!3m1!4b1!4m2!3m1!1s0x471294548d5a37a9:0x3cff77f7c3e63814" target="new">BC Titanium, Nové sady 25, Brno</a></p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h4 class="meetup-heading">PyLadies Brno<br>pokročilé a doučovací srazy</h4>
                <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>probíhají opakovaně</p>
                <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>Každý čtvrtek 18:00 - 20:00</p>
                <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.cz/maps/place/Fakulta+informatiky+MU/@49.2100695,16.597013,17z/data=!3m1!4b1!4m2!3m1!1s0x4712946af848abab:0xcbdad60137e0b956" target="new">Fakulta informatiky MU, Botanická 68a, Brno</a></p>
              </div>
            <!--   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <span class="glyphicon glyphicon-calendar"></span>
              <h4 class="meetup-heading">PyLady Brno - Beer</h4>
              <p class="meetup-date">12.04.2015 - 13.05.2015</p>
              <p class="meetup-address"><a href="#" target="new">Vysoka 23, 1234 Brno</a></p>
              </div> -->
          </div>
      </section>
      <!-- About city section -->
      <section class="info-city container text-center">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <h2 class="course-city-heading">Jak to v Brně vzniklo?</h2>
                <p class="course-city-p">Tento kurz tě naučí základy programování, konkrétně programování v Pythonu. Je rozdělen na zhruba dvouhodinové lekce, které na sebe navazují; domácí úkoly, které lekce doplňují; a nepovinné odbočky, které ukazují zajímavosti a praktické použití probraných konceptů. Je potřeba základní znalost práce s počítačem (pokud umíš posílat e-maily, jsi v pohodě). Instrukce máme pro operační systémy Linux, Windows, a Mac OS X. Je potřeba počítač, na který jdou instalovat programy. (Na služebních noteboocích můžou být s instalací problémy, které ale často umí vyřešit IT oddělení dané firmy.)</p>
            </div>
            <div class="photo-box">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno1.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno2.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno3.jpg', 1) }}" class="img-responsive city-image" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <p class="course-city-p">Tento kurz tě naučí základy programování, konkrétně programování v Pythonu. Je rozdělen na zhruba dvouhodinové lekce, které na sebe navazují; domácí úkoly, které lekce doplňují; a nepovinné odbočky, které ukazují zajímavosti a praktické použití probraných konceptů. Je potřeba základní znalost práce s počítačem (pokud umíš posílat e-maily, jsi v pohodě). Instrukce máme pro operační systémy Linux, Windows, a Mac OS X. Je potřeba počítač, na který jdou instalovat programy. (Na služebních noteboocích můžou být s instalací problémy, které ale často umí vyřešit IT oddělení dané firmy.)</p>
            </div>
        </div>
    </section>
    <!-- Advice section -->
    <section id="about3" class="container-fluid content-section text-center">
        <div class="row">
              <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
                <a href="https://www.facebook.com/groups/pyladiesBrno" target="new">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/facebook.png', 1) }}">
                        <h4 class="about-title">Facebook PyLadies Brno</h4>
                    </div>
                </a>
                <a href="https://groups.google.com/forum/#!forum/pyladies-brno" target="new">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/google-group.png', 1) }}" />
                        <h4 class="about-title">Google Group PyLadies Brno</h4>
                    </div>
                </a>
                <a href="mailto:encukou@gmail.com" target="new">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/coach.png', 1) }}" />
                        <h4 class="about-title">Napiš koučovi</h4>
                    </div>
                </a>
        </div>
    </section>
{% endblock content %}
