{% extends "layout.html" %}

{% block content %}
    <!-- Intro Header -->
    <header class="intro-info intro-city-brno">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <p class="intro-text-city">BRNO <br /><span class="smaller">Začátečnický kurz od 7.3. do 6.6. 2016</span></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="actual container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="actual-heading">Kurz momentálně běží každé pondělí od 18:00 do 20:00
                <span class="pull-right actual-address">
                    <a href="https://www.google.cz/maps/place/BC+TITANIUM/@49.1879995,16.604512,17z/data=!3m1!4b1!4m2!3m1!1s0x471294548d5a37a9:0x3cff77f7c3e63814?hl=cs" target="new">
                    <span class="glyphicon glyphicon-map-marker"></span>BC Titanium, Nové Sady 25, Brno
                    </a>
                  <!-- <a href="" target="new">Registračný formulár pre nový beh</a> -->
                </span>
            </h4>
        </div>
    </div>
    <!-- Course description -->
    <section class="course-city container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h2 class="course-city-heading">Začátečnický kurz</h2>
                <p class="course-city-p">Tento kurz tě naučí základy programování, konkrétně programování v Pythonu. Je rozdělen na zhruba dvouhodinové lekce, které na sebe navazují; domácí úkoly, které lekce doplňují; a nepovinné odbočky, které ukazují zajímavosti a praktické použití probraných konceptů.</p>
            </div>
        </div>
        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for lesson in plan %}
                <div class="section-box" id="section{{ loop.index }}">
                    <h4 class="section-heading">
                        {% if 'date' in lesson %}
                            Lekce {{ loop.index }} - {{ lesson['name'] }}
                            <span class="pull-right section-date">
                                {{ '{0.day}. {0.month}. {0.year}'.format(lesson['date']) }}
                            </span>
                        {% else %}
                            {{ lesson['name'] }}
                        {% endif %}
                    </h4>
                    {% if 'description' in lesson %}
                        <p class="section-info course-city-p">
                            {{ lesson['description'] | md(inline=True) }}
                        </p>
                    {% endif %}
                    {% for mat in lesson['materials'] %}
                        {% set done = mat.get('done', lesson.get('done', False)) %}
                        {% set done_class = 'section-done' if done else 'section-todo' %}
                        <div class="section-info">
                            {% if mat['type'] == 'lesson' %}
                                {% if done %}
                                    {% set icon_class = 'glyphicon-ok ' + done_class %}
                                {% else %}
                                    {% set icon_class = 'glyphicon-remove ' + done_class %}
                                {% endif %}
                            {% elif mat['type'] == 'handout' %}
                                {% set icon_class = 'glyphicon-book ' + done_class %}
                            {% elif mat['type'] == 'homework' %}
                                {% set icon_class = 'glyphicon-pencil' %}
                            {% elif mat['type'] == 'link' %}
                                {% set icon_class = 'glyphicon-link' %}
                            {% else %}
                                {% set icon_class = 'glyphicon-flag' %}
                            {% endif %}
                            <span class="glyphicon {{ icon_class }} section-icon"></span>
                            {% if 'link' in mat %}
                                <a href="{{ mat['link'] }}" target="new">{{ mat['name'] | md(inline=True) }}</a>
                            {% else %}
                                {{ mat['name'] | md(inline=True) }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </section>
    <!-- Advice section -->
    <section id="about3" class="container-fluid content-section text-center">
        <div class="row">
              <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
                <a href="https://www.facebook.com/groups/pyladiesBrno/" target="new">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/facebook.png', 1) }}" />
                        <h4 class="about-title">Facebook PyLadies Brno</h4>
                    </div>
                </a>
                <a href="https://groups.google.com/forum/#!forum/pyladies-brno" target="new">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/google-group.png', 1) }}" />
                        <h4 class="about-title">Google Group PyLadies Brno</h4>
                    </div>
                </a>
                <a href="mailto:encukou@gmail.com" target="new">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                        <img height="110" src="{{ pathto('_static/img/link/coach.png', 1) }}" />
                        <h4 class="about-title">Napiš koučovi</h4>
                    </div>
                </a>
        </div>
    </section>
{% endblock content %}
