<!-- Advice section -->
<section id="about3" class="container-fluid content-section text-center">
    <div class="row">
          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
            <a href="https://www.facebook.com/groups/pyladiesBrno">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                    <img height="110" src="{{ pathto('_static/img/link/facebook.png', 1) }}">
                    <h4 class="about-title">Facebook PyLadies Brno</h4>
                </div>
            </a>
            <a href="https://groups.google.com/forum/#!forum/pyladies-brno">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                    <img height="110" src="{{ pathto('_static/img/link/google-group.png', 1) }}" />
                    <h4 class="about-title">Google Group PyLadies Brno</h4>
                </div>
            </a>
            <a href="mailto:encukou@gmail.com">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 about">
                    <img height="110" src="{{ pathto('_static/img/link/coach.png', 1) }}" />
                    <h4 class="about-title">Napiš koučovi</h4>
                </div>
            </a>
    </div>
</section>
