{% extends "layout.html" %}

{% block current_city_class -%}
    {% if city_slug == city -%}
        class="current-page"
    {%- endif -%}
{%- endblock -%}

{% macro meetup_info(meetup, with_registration_link=True) %}
  <div class="meetup-box text-left">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h4 class="meetup-heading">{{ meetup.name | markdown(inline=True) }}</h4>
      {% if meetup.start and meetup.end %}
        <p class="meetup-date">
          <span class="glyphicon glyphicon-calendar"></span>
          {{ (meetup.start, meetup.end)| date_range }}
        </p>
      {% elif meetup.date_text %}
        <p class="meetup-date">
          <span class="glyphicon glyphicon-calendar"></span>
          {{ meetup.date_text }}
        </p>
      {% endif %}
      {% if meetup.time %}
        <p class="meetup-time">
          <span class="glyphicon glyphicon-hourglass"></span>
          {{ ('\n' ~ meetup.time) | markdown(inline=True) }}
        </p>
      {% endif %}
      {% if meetup.place %}
        <p class="meetup-address">
          <span class="glyphicon glyphicon-map-marker"></span>
          {% if meetup.place.url %}
          <a href="{{ meetup.place.url }}" target="_blank">
          {% endif %}
            {{ meetup.place.name }},
            {{ meetup.place.address }}
          {% if meetup.place.url %}
          </a>
          {% endif %}
        </p>
      {% endif %}
      {% if meetup.registration_status and with_registration_link %}
        <p class="meetup-registration">
          <span class="glyphicon glyphicon-edit"></span>
          {% if meetup.registration_status == 'running' %}
            <a href="{{ meetup.registration.url }}">
              {{ meetup.registration.get('text', 'Registrace právě probíhá!') }}
            </a>
          {% elif meetup.registration_status == 'closed' %}
            Registrace už je uzavřena :(
          {% elif meetup.registration_status == 'meetup_started' %}
            Kurz probíhá
          {% endif %}
        </p>
      {% endif %}
      {% if meetup.materials %}
        <p class="meetup-materials">
          <span class="glyphicon glyphicon-book"></span>
          <a href="{{ meetup.materials }}">
            Materiály
          </a>
        </p>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{# Macro for generating links in bottom of pages in advice section #}
{% macro advice(text, img, url) %}
    <a href="{{ url }}">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 about">
            <img height="110" src="{{ img }}" />
            <h4 class="about-title">{{ text }}</h4>
        </div>
    </a>
{% endmacro %}

{% block content %}
  <!-- Intro Header -->
  <header class="intro-city">
      <h1>{{ city_title | upper }}</h1>
  </header>

  <!-- Current Meetups -->
  <section class="meetup container text-center" id="meetups">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-lg-10 col-md-10">
        <h2 class="course-city-heading">Aktuální kurzy a srazy</h2>
      </div>
    </div>
    <div class="row">
      {% for meetup in meetups %}
        {% if meetup.current %}
         {{ meetup_info(meetup) }}
          {% if not loop.last and loop.index0 % 2 %}
            </div><div class="row">
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </section>

    <!-- Contact -->
    <section class="contacts text-center">
      <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Kontakty</h2>
        {% if city_slug == 'brno' %}
          {{ advice(text='Facebook PyLadies Brno', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/pyladiesBrno') }}
          {{ advice(text='Google Group PyLadies Brno', img=pathto('_static/img/link/google-group.png', 1), url='https://groups.google.com/forum/#!forum/pyladies-brno') }}
          {{ advice(text='Napiš koučovi', img=pathto('_static/img/link/coach.png', 1), url='mailto:brno@pyladies.cz') }}
        {% elif city_slug == 'ostrava' %}
          {{ advice(text='Facebook PyLadies Ostrava', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/pyladiesostrava/') }}
          {{ advice(text='Google Group PyLadies Ostrava', img=pathto('_static/img/link/google-group.png', 1), url='https://groups.google.com/forum/#!forum/pyladies-ostrava') }}
          {{ advice(text='Napiš koučovi', img=pathto('_static/img/link/coach.png', 1), url='mailto:pyladies-ostrava@googlegroups.com') }}
        {% elif city_slug == 'praha' %}
          {{ advice(text='Facebook PyLadies Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/PyLadiesPraha/') }}
          {{ advice(text='PyWorking Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/PyWorkingPraha/') }}
          {{ advice(text='Google Group PyLadies Praha', img=pathto('_static/img/link/google-group.png', 1), url='https://groups.google.com/forum/#!forum/pyladies-praha') }}
          {{ advice(text='Napiš koučovi', img=pathto('_static/img/link/coach.png', 1), url='mailto:pyladies-praha@googlegroups.com') }}
        {% endif %}
      </div>
    </section>

    <a name="city-info" id="city-info"></a>

    <!-- How it started -->
    <section class="info-city container text-center">
        <div class="row">
        {% if city_slug == 'brno' %}
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <h2 class="course-city-heading">Jak to v Brně vzniklo?</h2>
                <p class="course-city-p">Bylo nebylo, přijela jednou do Brna na návštěvu Lynn Root, která vede PyLadies v San Franciscu. Zrovna probíhala konference RuPy 2012, a v rámci ní Lynn uspořádala půldenní workshop pod hlavičkou PyLadies. Ale potom odjela, než našla dostatečně akční Pythonistku, která by to po ní převzala.</p>
            </div>
            <div class="photo-box">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno1.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno2.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/brno/brno3.jpg', 1) }}" class="img-responsive city-image" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <p class="course-city-p">Až po více než roce se na Facebooku ozvaly tři studentky, které se Python učily na škole a potřebovaly doučování. Vzpomněli jsme si na balíček samolepek PyLadies, co tu nechala Lynn, a rozhodli se to doučování udělat pod touto značkou. A odtud byl už jen krůček k začátečnickým kurzům i jiným srazům.</p>
            </div>
        {% elif city_slug == 'ostrava' %}
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <h2 class="course-city-heading">Jak to vzniklo v Ostravě?</h2>
                <p class="course-city-p">Chtěly jsme umět něco, co nás ve škole nenaučí. A tak jednoho dne nás na cestu Pythonu přivedl bratr jedné z nás. Začaly jsme hledat možnost, jak nejlépe se ho naučit. Po dlouhém rozmýšlení a hledání jsme se rozhodly pro Pyladies. Dojíždění do Prahy či Brna nepřicházelo v úvahu a tak jsme se prostě rozhodly založit kurz v Ostravě.</p>
                <p class="course-city-p">Věříme, že i vy se chcete naučit něco víc, a že to víc najdete právě u nás. Doufáme, že vám naše lekce nebudou přinášet jen ponaučení a vědomosti, ale i zábavu a nové přátele. Můžete se také těšit na jiné akce, které pro vás chystáme v průběhu roku.</p>
            </div>
        {% elif city_slug == 'praha' %}
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <h2 class="course-city-heading">Jak to vzniklo v Praze?</h2>
                <p class="course-city-p">PyLadies v Praze vznikly v roce 2015 díky iniciativě pražské Python komunity a organizačním schopnostem pár akčních holek, které měly zájem se kurzu samy účastnit.  Spouštěcím impulsem byl i úspěch jednodenního workshopu Django Girls Prague, rovněž zaměřeného na programování v Pythonu. Vytvořili jsme pražskou pilotní skupinu PyLadies a během prvního kurzu společně vylaďovali organizaci i náplň pražských srazů do současné podoby. Nyní kurz PyLadies představuje zhruba 13 dvouhodinových lekcí, které jsou doplněny i samostatnou prací na domácích projektech.</p>
                <p class="course-city-p">Na kurz pro začátečnice jsme v roce 2016 navázaly pravidelnými pondělními srazy (PyWorking sessions) pro pokročilejší začátečnice, kde mohou absolventky našeho kurzu pracovat na svých vlastních projektech pod vedením zkušených mentorů.</p>
            </div>
            <div class="photo-box">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/praha/praha1.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/praha/praha2.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/praha/praha3.jpg', 1) }}" class="img-responsive city-image" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <p class="course-city-p">Společné setkávání v rámci PyLadies má velkou výhodu v tom, že se můžou holky navzájem průběžně motivovat a podporovat. Začátky bývají těžké, ale komunita kolem PyLadies vždy ochotně pomůže počáteční překážky překonávat. Díky týmu nadšenců fungují PyLadies čistě na dobrovolné a nezištné bázi.</p>
            </div>
        {% elif city_slug == 'ostatni' %}
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <h2 class="course-city-heading">Jak založit Pyladies ve tvém městě?</h2>
                <p class="course-city-p"> <a href="https://www.facebook.com/groups/pyladiespraha/">Pyladies Praha</a></p>
                <p class="course-city-p"> <a href="https://www.facebook.com/groups/pyladiesBrno/">Pyladies Brno</a></p>
                <p class="course-city-p"> <a href="https://www.facebook.com/pyladiesostrava/">Pyladies Ostrava</a></p>
                <p class="course-city-p"> <a href="https://www.facebook.com/groups/pyonieri/">Pythoní komunita na FB</a></p>
                <p class="course-city-p"> <a href="https://pyvo.cz/">Pythoní srazy po celé ČR</a></p>
                <p class="course-city-p"> <a href="https://python.cz/">Konunitní rozcestník</a></p>
                <p class="course-city-p"> <a href="http://pyvec-guide.readthedocs.io/guides/beginners-course.html">Pár sepsaných tipů k založení kuru pro začátečníky</a></p>
        {% endif %}
        </div>
    </section>

    <!-- Team section -->
    <section id="team" class="container" >
      <h2 class="course-city-heading">{{ team_name }}</h2>
      <div class="grid-team ">
      {% for member in team %}
      <div class="person">
        <img src="{{ url_for('static', filename=member.img or 'img/brno/team/blank.png') }}" class="img-circle img-responsive" />
        <h5 class="member-name"><strong>{{ member.name }}</strong></h5>
        <span><em>{{ member.role }}</em></span>
        <ul>
          {%- for link in member.links -%}{%- for type, url in link.items() -%}
            <li><a href="{{ url }}"><img src="{{ url_for('static', filename='img/icon/{}.png'.format(type)) }}" /></a></li>
          {%- endfor -%}{%- endfor -%}
        </ul>
      </div>
      {% endfor %}
    </div>
    </section>

  <!-- Past Meetups -->
  <section  class="meetup container text-center" id="meetups">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-lg-10 col-md-10">
        <h2 class="course-city-heading">Proběhlé kurzy a srazy</h2>
      </div>
    </div>
    <div class="row">
      {% for meetup in meetups %}
        {% if not meetup.current %}
          {{ meetup_info(meetup,  with_registration_link=False) }}
          {% if not loop.last and loop.index0 % 2 %}
            </div><div class="row">
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </section>

{% endblock content %}
