{% extends "layout.html" %}

{% block current_city_class -%}
    {% if city_slug == slug -%}
        class="current-page"
    {%- endif -%}
{%- endblock -%}

{% macro meetup_info(meetup, with_registration_link=True) %}
  {% macro item(icon, url=None, is_button=False, highlight=False) %}
    <li {% if is_button %}class="button{% if highlight %} highlight{% endif %}"{% endif %}>
        {% if url %}
            <a href="{{ url }}"
        {% else %}
            <span
        {% endif %}
        class="meetup-info-item meetup-info-item-{{icon}}">
            <span class="glyphicon glyphicon-{{ icon }}"></span>
            <span>{{ caller() }}</span>
        {% if url %}
            </a>
        {% else %}
            </span>
        {% endif %}
    </li>
  {% endmacro %}
  <div class="meetup-width">
      <h4 class="meetup-heading">{{ meetup.name | markdown(inline=True) }}</h4>
      <ul>
      {% if meetup.topic %}
        {% call item(icon="tag") %}
          <div>{{ meetup.topic }}</div>
        {% endcall %}
      {% endif %}
      {% if meetup.start and meetup.end %}
        {% call item(icon="calendar") %}
          {{ (meetup.start, meetup.end)| date_range }}
        {% endcall %}
      {% elif meetup.date_text %}
        {% call item(icon="calendar") %}
          {{ meetup.date_text }}
        {% endcall %}
      {% endif %}
      {% if meetup.time %}
        {% call item(icon="hourglass") %}
          {{ ('\n' ~ meetup.time) | markdown(inline=True) }}
        {% endcall %}
      {% endif %}
      {% if meetup.place %}
        {% call item(icon="map-marker", url=meetup.place.url) %}
            {{ meetup.place.name }}
            {%- if meetup.place.address -%}
                ,
                {{ meetup.place.address }}
            {% endif %}
        {% endcall %}
      {% endif %}
      {% set have_button=False %}
      {% if meetup.registration_status and with_registration_link %}
        {% if meetup.registration_status == 'running' %}
          {% call item(icon="edit", url=meetup.registration.url, is_button=True, highlight=True) %}
            {{ meetup.registration.get('text', 'Registrace právě probíhá!') }}
          {% endcall %}
          {% set have_button=True %}
        {% elif meetup.registration_status == 'closed' %}
          {% call item(icon="edit") %}
            Registrace už je uzavřena :(
          {% endcall %}
        {% elif meetup.registration_status == 'meetup_started' %}
          {% call item(icon="edit") %}
            Kurz probíhá
          {% endcall %}
        {% endif %}
      {% endif %}
      {% if meetup.materials %}
        {% call item(icon="book", url=meetup.materials,
                     is_button=not have_button and meetup.current) %}
          Materiály
        {% endcall %}
      {% endif %}
      </ul>
  </div>
{% endmacro %}

{% macro other_courses_link(n) %}
    {% if n %}
    <div>
        <a href="#past-meetups">
            {% if n == 0 %}
                Kurz se připravuje.
            {% elif n == 1 %}
                Jedna další akce už je za námi!
            {% elif n < 5 %}
                A další {{n}} akce už jsou za námi!
            {% else %}
                A dalších {{n}} kurzů a srazů už je za námi!
            {% endif %}
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
    </div>
    {% endif %}
{% endmacro %}

{% block content %}
  <!-- Intro Header -->
  <header class="intro-city">
      <h1>{{ city_title | default('Tvoje město', true) | upper }}</h1>
  </header>

  <!-- Current Meetups -->
  {% if current_meetups %}
  <section class=" container text-center" id="meetups">
    <h2 class="course-city-heading">Aktuální kurzy a srazy</h2>
    <div class="meetup">
      {% for meetup in current_meetups | reverse %}
         {{ meetup_info(meetup) }}
      {% endfor %}
    </div>
    {{ other_courses_link(past_meetups|length) }}
  </section>
  {% elif not current_meetups and city_slug != 'ostatni' %}
  <section class=" container text-center" id="meetups">
    <h2 class="course-city-heading">Nedávné kurzy a srazy</h2>
    <div class="meetup">
      {% for meetup in past_meetups[:3] %}
        {{ meetup_info(meetup,  with_registration_link=False) }}
      {% endfor %}
    </div>
    {% if past_meetups|length > 3 %}
      {{ other_courses_link(past_meetups|length - 3) }}
    {% endif %}
  {% endif %}
  </section>

  <!-- Registration notice -->
  {% macro registration_link_block() %}
    <section class="container">
        <h2 class="course-city-heading">Registrace</h2>
        <p>
            {# Sem se vloží větička podle kontextu, viz níže #}
            {{ caller() }}
            Jestli chceš, můžeš nám
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdsTcHeSrUF3-BJtD4m0cI6Tgn3IJ4ubZ-37iDABWGjMy07xA/viewform?entry.328629992=M%C3%A1m+z%C3%A1jem+o+za%C4%8D%C3%A1te%C4%8Dnick%C3%BD+kurz+a+o+posl%C3%A1n%C3%AD+informac%C3%AD,+a%C5%BE+na+n%C4%9Bj+bude+vypsan%C3%A1+registrace.&entry.40816140&entry.618723007&entry.1740996300">nechat kontakt.</a>
            Až otevřeme registrace na další kurzy, pošleme ti zprávu.
        </p>
    </section>
  {% endmacro %}
  {% if registration_meetups %}
    {% call registration_link_block() %}
        Nehodí se ti kurzy, které mají otevřenou registraci?
    {% endcall %}
  {% elif current_meetups %}
    {% call registration_link_block() %}
        Registrace na kurzy už skončila.
    {% endcall %}
  {% elif city_slug != "ostatni" %}
    {% call registration_link_block() %}
        {% if past_meetups and current_meetups %}
        <div>
            Už máme za sebou
            <a href="#past-meetups">
                {% if past_meetups|length == 1 %}
                    jednu akci.
                {% elif past_meetups|length < 5 %}
                    {{past_meetups|length}} akce.
                {% else %}
                    {{past_meetups|length}} kurzů a srazů.
                {% endif %}
            </a>
        </div>
        {% endif %}

        Čekáš na otevření přihlášek na další?
    {% endcall %}
  {% endif %}

      <!-- Contact -->
    {% if contacts %}
    <section class="contacts text-center">
      <div class="container p-0">
        <h2>Kontakty</h2>
        <div class="contact m-0">
            {% for text, contact in contacts.items() %}
                <a href="{{ contact['url'] }}">
                    <div class="about">
                        <img height="110" src="{{ pathto('_static/img/link/' + contact['icon'] + '.png', 1) }}" />
                        <h4 class="about-title">{{ text }}</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

  <!-- Newsletter -->
  {% if newsletter %}
  <section class="container newsletter">
    <h2 class="text-center">Newsletter</h2>
    <p>{{ newsletter['text']}}</p>
    <div id="mc_embed_signup">
      <form action="{{ newsletter['url'] }}"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
        target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="e-mail">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="{{ newsletter['input-name'] }}" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Přihlaš mě" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        </div>
        <p>Odeslaním svého e-mailu dáváš souhlas se <a href="http://goo.gl/hdEDjo">zpracováním osobních údajů</a></p>
      </form>
    </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  </section>
  {% endif %}
  
  <!-- How it started -->
  <a name="city-info" id="city-info"></a>
    <section class="info-city container text-center">
        {% include city_slug + "/about.html" ignore missing with context %}
    </section>


    
    {% if team %}
    <!-- Team section -->
    <section id="team" class="container" >
      <h2 class="course-city-heading">{{ team.name }}</h2>
      <div class="team ">
        {% for member in team.members %}
          <div class="person">
            <div class="member-photo">
              <img src="{{ url_for('static', filename=member.img or 'img/brno/team/blank.png') }}" class="img-circle" />
             </div>
            <h5 class="member-name"><strong>{{ member.name }}</strong></h5>
            <span><em>{{ member.role }}</em></span>
            <ul>
              {%- for link in member.links -%}{%- for type, url in link.items() -%}
                <li><a href="{{ url }}"><img src="{{ url_for('static', filename='img/icon/{}.png'.format(type)) }}" /></a></li>
              {%- endfor -%}{%- endfor -%}
            </ul>
          </div>
        {% endfor %}
      </div>
    </section>
    {% endif %}

  <!-- Past Meetups -->
  {% if past_meetups %}
  <section  class=" container text-center" id="past-meetups">
    <h2 class="course-city-heading">Proběhlé kurzy a srazy</h2>
    <div class="meetup">
      {% for meetup in past_meetups %}
          {{ meetup_info(meetup,  with_registration_link=False) }}
          {% if not loop.last and loop.index0 % 2 %}

          {% endif %}
      {% endfor %}
    </div>
  </section>
  {% endif %}

{% endblock content %}
