{% extends "layout.html" %} {% block current_page_class_gdpr
%}class="current-page"{% endblock %} {% block content %}
<!-- Intro Header -->
<section class="container text-center">
  <div class="row">
    <h2 class="course-city-heading">
      Souhlas se&nbsp;zpracováním osobních údajů
    </h2>
  </div>
</section>
<!-- Main section -->
<section class="container">
  <div class="col-xs-12 text-left">
    <ol class="gdpr">
      <li>
        <p>Udělujete tímto souhlas organizaci Pyvec&nbsp;o.s., se sídlem:</p>
        <p>
          Impact Hub Praha<br />
          Drtinova&nbsp;10/557<br />
          15000&nbsp;Praha&nbsp;5,<br />
          IČO:&nbsp;22746668,<br />
        </p>
        <p>
          zapsané ve veřejném rejstříku vedeném u&nbsp;Městského soudu
          v&nbsp;Praze, oddíl&nbsp;B, vložka&nbsp;24180 (dále jen „Správce“),<br />
          aby ve smyslu zákona č.101/2000&nbsp;Sb., o&nbsp;ochraně osobních
          údajů (dále jen „zákon o&nbsp;ochraně osobních údajů“)<br />
          zpracovávala tyto osobní údaje:
        </p>
        <ul class="gdpr-items">
          <li>jméno a&nbsp;příjmení</li>
          <li>e-mail</li>
          <li>telefonní číslo</li>
          <li>fotografie, obrazové nebo zvukové záznamy</li>
        </ul>
      </li>
      <li>
        <p>
          Poskytnuté osobní údaje je nutné zpracovat za účelem správy kurzů
          PyLadies&nbsp;CZ. Dále mohou být jméno, příjmení, fotografie
          a&nbsp;obrazové nebo zvukové záznamy zveřejněny na webové stránce
          PyLadies&nbsp;CZ, YouTube a materiálech propagujících kurzy a aktivity
          PyLadies&nbsp;CZ. Tyto údaje budou Správcem použity pro tyto konkrétní
          účely a&nbsp;budou dále zpracovávány po dobu:
        </p>
        <ul class="gdpr-items">
          <li>E-mail: 1&nbsp;rok</li>
          <li>jméno, příjmení: 3&nbsp;roky</li>
          <li>telefonní číslo: 1&nbsp;rok</li>
          <li>fotografie, obrazové nebo zvukové záznamy: 30&nbsp;let</li>
        </ul>
      </li>
      <li>
        <p>
          S&nbsp;výše uvedeným zpracováním udělujete svůj výslovný souhlas.
          Souhlas lze vzít kdykoliv zpět, a&nbsp;to například zasláním e-mailu
          nebo dopisu na kontaktní údaje Správce.
        </p>
      </li>
      <li>
        <p>
          Zpracování osobních údajů je prováděno Správcem. Osobní údaje budou
          dále zpracovávat:
        </p>
        <ul class="gdpr-items">
          <li>
            organizátorky/organizátoři PyLadies&nbsp;CZ (uvedeny na stránce
            <a href="{{ pathto('index') }}">www.pyladies.cz</a>)
          </li>
          <li>Red&nbsp;Hat,&nbsp;Inc.</li>
          <li>
            Mailchimp (The Rocket Science Group, LLC 675&nbsp;Ponce de&nbsp;Leon
            Ave&nbsp;NE Suite&nbsp;5000 Atlanta, GA&nbsp;30308&nbsp;USA)
          </li>
          <li>
            YouTube, LLC (901&nbsp;Cherry Ave. San Bruno,
            CA&nbsp;94066&nbsp;USA)
          </li>
          <li>
            Google LLC (1600&nbsp;Amphitheatre Parkway, Mountain View,
            CA&nbsp;94043,&nbsp;USA)
          </li>
        </ul>
      </li>
      <li>
        <p>Podle zákona o&nbsp;ochraně osobních údajů máte právo:</p>
        <ul class="gdpr-items">
          <li>vzít souhlas kdykoliv zpět,</li>
          <li>
            požadovat po nás informaci, jaké vaše osobní údaje zpracováváme,
            požadovat po nás vysvětlení ohledně zpracování osobních údajů,
          </li>
          <li>
            vyžádat si u&nbsp;nás přístup k těmto údajům a&nbsp;tyto nechat
            aktualizovat nebo opravit,
          </li>
          <li>požadovat po nás výmaz těchto osobních údajů,</li>
          <li>
            v případě pochybností o&nbsp;dodržování povinností souvisejících se
            zpracováním osobních údajů obrátit se na nás nebo na Úřad pro
            ochranu osobních údajů.
          </li>
        </ul>
      </li>
    </ol>
  </div>
</section>
{% endblock content %}
