{% extends "layout.html" %}
{% block content %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="intro-text">Zajímá tě programování v Pythonu? Chtěla by ses to naučit? PyLadies pořádají pravidelné odpolední srazy a kurzy.</p>
                       <!-- <a href=""><button class="btn btn-start">Getting started</button></a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- News Section -->
    <section id="news-summer" class="container content-section text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="news-title">Letní novinky</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="news-summer-p">
          <a href="https://github.com/micropython/micropython"><img height="110" src="{{ pathto('_static/img/icon/micropython.png', 1) }}" class="keyfeature-icon"></a>
          <h3 class="news-title">Jednodenní hardwarový workshop u Prahy <br> MicroPython a LED světýlka</h3>
            V srpnu, v pátek 19.8., plánujeme pro slečny, které mají už nějaké menší základy Pythonu z PyLadies či jiných Python kurzů, jednodenní hardwarový workshop "MicroPython a světýlka". Díky sdružení <a href="https://www.nic.cz/">CZ.NIC</a>,
              které se rozhodlo workshop zasponzorovat, bude zcela zdarma a slečny si mohou poté hardwarové části zanechat a odnést domů na další "hraní".
              Pokud nějaké základy Pythonu máš a ráda by ses zúčastnila, máme stále ještě pár volných míst.
              <br>Více informací a a registrace na workshop <a href="http://goo.gl/forms/MaeBTcWPDXYcfsoT2">zde</a>.
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="news-summer-p">
            <img height="110" src="{{ pathto('_static/img/icon/pylady-ostrava.png', 1) }}" class="keyfeature-icon">
          <h3 class="news-title">Příprava kurzů v Ostravě</h3>
             V Ostravě se pravděpodobně na podzim spustí začátečnické kurzy PyLadies. Díky slečnám, které se rozhodly, že by se Python rády naučily. Daly se dohromady s místním pythonistou a organizátorem ostravských python meetupů Pyvo,
             a nyní se již snaží společně vše na podzim připravit.

            <br>Pokud by jsi ráda zorganizovala PyLadies ve svém městě a díky tomu se i Python naučila bez zbytečného dojíždění, dej nám <a href="mailto:encukou@gmail.com">vědět</a>, pomůžeme Ti :-) Nějaké základní informace, najdeš sepsané <a href="http://pyladies.cz/stan_se/">i tady</a>.
            <br>Aktuálně se hledají nadějné organizátorky pro Brněnské kurzy, pokud jsi z Brna, kontaktuj prosím přímo brněnského hlavního kouče minulých let - <a href="mailto:encukou@gmail.com">Petra</a>.
          </div>
        </div>
      </div>
    </section>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
              <img height="110" src="{{ pathto('_static/img/icon/qa.png', 1) }}" class="keyfeature-icon">
              <h2 class="about-title">Co jsou PyLadies?</h2>
              <div class="about-p">
                PyLadies jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k IT. K tomuto účelu využívá programovací jazyk Python, který je perfektní pro výukové účely a zároveň je po něm velká poptávka na trhu práce.
              </div>
          </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/who.png', 1) }}">
                <h2 class="about-title">Pro koho?</h2>
                <div class="about-p">
                  Nejdůležitější aktivitou PyLadies je aktuálně kurz pro úplné začátečnice, který tě během zhruba tří měsíců naučí základy programování zábavnou cestou. Žádná suchá matematika &ndash; vše se odehrává na dobře představitelných příkladech včetně programování jednoduchých her.
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/computer.png', 1) }}" class="keyfeature-icon">
                <h2 class="about-title">Co potřebuješ?</h2>
                <div class="about-p">
                  Abys mohla začít, potřebuješ hlavně motivaci a dostatek času. K dispozici bys měla mít vlastní notebook, na kterém se budeš učit programovat (ideálně s oprávněním k instalaci programů).
                </div>
            </div>
        </div>
    </section>
    <!-- Courses section -->
    <section class="course-wrapper container-fluid" id="main-course">
      <!-- Ak kurz aktivne bezi -->
        <!-- temp commenting -->
        <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 course-i">
            <div class="py-icon">
                <img src="{{ pathto('_static/img/icon/pylady.png', 1) }}" class="py-icon-i" />
            </div>
            <div class="py-block pull-left">
                <a href="{{ pathto('brno') }}"><h4 class="city-heading">Brno - začátečnický kurz</h4></a>
                <p class="city-info">Probíhá od 07.03. do 06.06.2016</p>
                <p class="city-address">
                    <a href="https://www.google.cz/maps/place/BC+TITANIUM/@49.187996,16.6045173,17z/data=!3m1!4b1!4m2!3m1!1s0x471294548d5a37a9:0x3cff77f7c3e63814?hl=cs" target="_blank">BC Titanium, Nové sady 25, Brno</a>
                </p>
            </div>
        </div>
        Ak kurz nebezi ale je spustena nan uz registracia
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 course-i">
            <div class="py-icon">
                <img src="{{ pathto('_static/img/icon/pylady-blue.png', 1) }}" class="py-icon-i" />
            </div>
            <div class="py-block pull-left">
                <a href="{{ pathto('praha') }}"><h4 class="city-heading">Praha - začátečnický kurz</h4></a>
                <p class="city-info">Registrace na kurz probíhá.</p>
                <p class="city-address">
                    <a href="http://goo.gl/forms/Bc4Fcf2YqV" target="_blank">Registrační formulář</a>
                </p>
            </div>
        </div> -->
        <!-- Ak kurz neprebieha a nie je definovany novy start kurzu -->
            <!-- BRNO AKTUÁLNĚ-->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 course-i">
            <div class="py-icon">
                <img src="{{ pathto('_static/img/icon/pylady-grey.png', 1) }}" class="py-icon-i" />
            </div>
            <div class="py-block pull-left">
                <h4 class="city-heading">Brno - začátečnický kurz</h4>
                <p class="city-info">Kurz v Brně právě proběhl. Další plánujeme na podzim 2016.</p>
            </div>
        </div>
        <!-- PRAHA AKTUÁLNĚ -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 course-i">
            <div class="py-icon">
                <img src="{{ pathto('_static/img/icon/pylady-grey.png', 1) }}" class="py-icon-i" />
            </div>
            <div class="py-block pull-left">
                <h4 class="city-heading">Praha - začátečnický kurz</h4>
                <p class="city-info">Kurz v Praze právě proběhl. Další plánujeme na podzim 2016.</p>
            </div>
        </div>
        <!-- OSTRAVA AKTUÁLNĚ -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 course-i">
            <div class="py-icon">
                <img src="{{ pathto('_static/img/icon/pylady-grey.png', 1) }}" class="py-icon-i" />
            </div>
            <div class="py-block pull-left">
                <h4 class="city-heading">Ostrava - začátečnický kurz</h4>
                <p class="city-info">První kurz v Ostravě připravujeme na podzim 2016.</p>
            </div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs course-i text-center">
            <a href="mailto:encukou@gmail.com"><div class="new-city">Založ vlastní PyLadies</div></a>
        </div>
    </section>
    <!-- After course -->
    <section id="about2" class="container content-section text-center">
        <div class="row">
            <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Po kurzu máš možnost...</h2>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/code.png', 1) }}">
                <h2 class="about-title">Dál programovat</h2>
                <div class="about-p">
                  Začátečnickým kurzem to nekončí. Pokud budeš chtít dál pokračovat společně s PyLadies, na navazující srazy můžeš přijít s vlastním projektem, případně si vybrat některý z předem připravených větších projektů, které máme k dispozici za účelem dalšího rozvoje.
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/teach.png', 1) }}">
                <h2 class="about-title">Stát se koučkou</h2>
                <div class="about-p">
                  PyLadies, které už kurzem prošly, můžou při nově zahájených kurzech pomáhat jako koučky. Je to skvělý způsob, jak si upevnit základy, naučit se něco nového a především dál zůstávat aktivní.
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/pyvo.png', 1) }}">
                <h2 class="about-title">Přijít na Pyvo</h2>
                <div class="about-p">
                    Příznivci Pythonu se rádi setkávají na neformálních srazech v Praze, Brně nebo Ostravě na <a href="http://pyvo.cz/">Pyvu</a>. Díky tomu je Python komunita velmi živá a soudržná. Všichni nováčkové jsou zde vítáni.</div>
                </div>
            </div>
    </section>
    <!-- Start with python -->
    <!--
    <section id="start" class="container-fluid content-section text-center">
        <div class="row">
            <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title">Začni s Pythonem</h2>
            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-p">
              Kurzy Pythonu jsou v kurzu, programovat můžeš na Windows, Linuxu i Macu! Stačí zjistit, kdy a kde začínají nové PyLadies a můžeš se přihlásit.
            </p>
        <div>
        <div class="material-box">
            <a href="">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 material">
                  <img src="{{ pathto('_static/img/icon/os-windows.png', 1) }}" class="windows-icon comp-icon" /><br />
                  Windows
                </div>
            </a>
            <a href="">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 material">
                  <img src="{{ pathto('_static/img/icon/os-mac.png', 1) }}" class="mac-icon comp-icon" /><br />
                  Mac OS
                </div>
            </a>
            <a href="">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 material">
                  <img src="{{ pathto('_static/img/icon/os-linux.png', 1) }}" class="linux-icon comp-icon" /><br />
                  Linux
                </div>
            </a>
        </div>
    </section>
    -->
    <!-- Reccommendations -->
    <section class="advice container-fluid">
        <div class="container">
            <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center ref-heading">PyLadies pro PyLadies</h4>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ref">
                <p class="ref-p pull-left">
                  "Kurz byl pro mě ohromně přínosný. S pomocí koučů a lidí ve skupině jsem si po kurzu zvládla napsat pár krátkých prográmků, které mi zjednodušují každodenní práci a to jsem před pyladies o pythonu sotva slyšela. Všichni jsou až neuvěřitelně ochotní pomoci. Rozhodně doporučuji!"
                  <p class="ref-name"><strong>Pavlína F.</strong></p>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ref">
                <p class="ref-p">
                  "Dříve jsem vyhledávala krátké jednodenní či víkendové kurzy programování pro slečny. Ale díky PyLadies srazům jsem zjistila, že scházet se každý týden, učit se postupně a více do detailů je jednoduše super a velmi přínosné! Odcházela jsem s pocitem, že umím informace ze srazů využít při psaní kódu. Oblíbila jsem si programovací jazyk Python a především komunitu kolem Pythonu. Nyní pokračuji na vlastních projektech dál a na PyLadies srazy se vracím jako koučka pro další slečny!"
                  <p class="ref-name"><strong>Verča G.</strong></p>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ref">
                <p class="ref-p pull-right">
                  "Kurz Pythonu u pražských Pyladies byl skvělý - komplexní, dobře vystavěný a srozumitelně prezentovaný. Vyžadoval pozornou účast a aktivní domácí práci, ale nikdy jsme v tom nebyly samy; k dispozici byli koučové, kteří ochotně zodpověděli všechny dotazy a pomohli překonat nástrahy učení, online i offline. Super způsob, jak se seznámit se základy programování a začlenit se do místní pythonovské komunity."
                  <p class="ref-name"><strong>Verča Š.</strong></p>
                </p>
            </div>
        </div>
    </section>
    <!-- Partners -->
    <section class="partners container">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">Naši partneři</h2>
        <div class="col-xs-12 col-sm-6 col-md-offset-1 col-lg-offset-1 col-md-2 col-lg-2">
            <a href="https://www.nic.cz/" target="_blank">
                <img class="partner-logo logo-cz" src="{{ pathto('_static/img/logo/cznic.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <a href="http://www.redhat.com/en/global/czech-republic" target="_blank">
                <img class="partner-logo" src="{{ pathto('_static/img/logo/redhat.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <a href="http://pyvec.org/" target="_blank">
                <img class="partner-logo" src="{{ pathto('_static/img/logo/pyvec.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <a href="http://www.experis.cz/" target="_blank">
                <img class="partner-logo" src="{{ pathto('_static/img/logo/manpower.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <a href="https://apiary.io/" target="_blank">
                <img class="partner-logo" src="{{ pathto('_static/img/logo/apiary.png', 1) }}" />
            </a>
        </div>
    </section>
{% endblock content %}
