{% extends "layout.html" %}
{% block content %}

    <!-- News Section -->
    {% if news %}
        <section id="news" class="container content-section text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 id="news-main-title">Novinky</h1>
                </div>
            </div>
            <div class="row">
                {% for new in news %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="news-p">
                    <h3 class="news-title">{{ new.title }}</h3>
                        {{ new.content|safe }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <section class="banner">        
        <ul>
            <li>
                <a href="">
                    <img class="img-style" src="../static/img/praha.svg" alt="">
                    <img class="img-hover" src="../static/img/praha-blc.svg" alt="">
                    <span>Praha</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="img-style" src="../static/img/brno.svg" alt="">
                    <img class="img-hover" src="../static/img/brno-blc.svg" alt="">
                    <span>Brno</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="img-style" src="../static/img/ostrava.svg" alt="">
                    <img class="img-hover" src="../static/img/ostrava-blc.svg" alt="">
                    <span>Ostrava</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="img-style" src="../static/img/ostatni.svg" alt="">
                    <img class="img-hover" src="../static/img/ostatni-blc.svg" alt="">
                    <span>Další..</span>
                </a>
            </li>
            <li class="banner-bcg">###</li>
        </ul>
       
    </section>

    <!-- Courses section -->
    <section class="course-wrapper container-fluid" id="main-course">

        {% for city_name, meetups in current_meetups.items() %}
            {% set meetup = meetups[0] %}
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 course-i">
                <div class="py-icon">
                    {% if meetup.registration_status in ('meetup_started', 'closed') %}
                        <img src="{{ pathto('_static/img/icon/pylady.png', 1) }}" class="py-icon-i" />
                    {% elif meetup.registration_status == 'running' %}
                        <img src="{{ pathto('_static/img/icon/pylady-blue.png', 1) }}" class="py-icon-i" />
                    {% else %}
                        <img src="{{ pathto('_static/img/icon/pylady-grey.png', 1) }}" class="py-icon-i" />
                    {% endif %}
                </div>
                <div class="py-block pull-left">
                    <h4 class="city-heading">
                        <a href="{{ pathto(city_name) }}">
                        {{ city_name | title }} &ndash; začátečnický kurz
                        </a>
                    </h4>

                    {% for c in meetup.parallel_runs %}
                        <p class="city-info">
                            {{ (c.start, c.end)| date_range }}
                            {% if c.registration_status == 'running' %}
                                <a target="_blank" href="{{ c.registration.url }}">
                                    {{ c.registration.get('text', 'Registrace zde!') }}
                                </a>
                            {% endif %}
                        </p>
                        {% if c.place %}
                          <p class="city-address">
                              <a href="{{ c.place.url }}" target="_blank">
                                {{ c.place.name }},
                                {{ c.place.address }}
                              </a>
                          </p>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% endfor %}

        <div class="col-md-3 hidden-sm hidden-xs course-i text-center">
            <a href="http://pyladies.cz/stan_se/"><div class="new-city">Založ vlastní PyLadies</div></a>
        </div>

    </section>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
              <img height="110" src="{{ pathto('_static/img/icon/qa.png', 1) }}" class="keyfeature-icon">
              <h2 class="about-title">Co jsou PyLadies?</h2>
              <div class="about-p">
                PyLadies jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k&nbsp;IT. K&nbsp;tomu využívá programovací jazyk Python, který je perfektní pro výukové účely a zároveň je po něm velká poptávka na trhu práce.
              </div>
          </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/who.png', 1) }}">
                <h2 class="about-title">Pro koho?</h2>
                <div class="about-p">
                  Nejdůležitější aktivitou PyLadies je aktuálně kurz pro úplné začátečnice, který tě během zhruba tří měsíců naučí základy programování zábavnou cestou. Žádná suchá matematika &ndash; vše se odehrává na dobře představitelných příkladech včetně programování jednoduchých her.
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/computer.png', 1) }}" class="keyfeature-icon">
                <h2 class="about-title">Co potřebuješ?</h2>
                <div class="about-p">
                  Abys mohla začít, potřebuješ hlavně motivaci a dostatek času. K&nbsp;dispozici bys měla mít vlastní notebook, na kterém se budeš učit programovat (ideálně s&nbsp;oprávněním k&nbsp;instalaci programů).
                </div>
            </div>
        </div>
    </section>

    <!-- Other activities -->
    <section id="about2" class="container content-section text-center">
        <div class="row">
            <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Kromě kurzů děláme...</h2>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/code.png', 1) }}">
                <h2 class="about-title">Setkání a workshopy</h2>
                <div class="about-p">
                  Začátečnickým kurzem to nekončí. Pokud budeš chtít dál pokračovat společně s PyLadies, na navazující srazy můžeš přijít s vlastním projektem, případně si vybrat některý z předem připravených větších projektů. Také dokážeme zprostředkovat příležitosti na stáže nebo různé juniorské pracovní pozice v IT.<br/>
                  → pyworking.cz
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <img height="110" src="{{ pathto('_static/img/icon/teach.png', 1) }}">
                <h2 class="about-title">Zapojení do komunity</h2>
                <div class="about-p">
                  PyLadies, které už kurzem prošly, můžou při nově zahájených kurzech pomáhat jako koučky. Je to skvělý způsob, jak si upevnit základy, naučit se něco nového a především dál zůstávat aktivní.<br/>
                  → python.cz
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 about">
                <a href="http://pyvo.cz/" target="_blank"><img height="110" src="{{ pathto('_static/img/icon/pyvo.png', 1) }}"></a>
                <h2 class="about-title">Chodíme na srazy</h2>
                <div class="about-p">
                    Příznivci Pythonu se rádi setkávají na neformálních srazech v Praze, Brně nebo Ostravě na Pyvu. Díky tomu je Python komunita velmi živá a soudržná. Všichni nováčkové jsou zde vítáni.<br/>
                    → pyvo.cz
                </div>
            </div>
    </section>

    <!-- Reccommendations -->
    <section class="advice container-fluid">
        <div class="container">
            <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center ref-heading">PyLadies pro PyLadies</h4>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ref">
                <p class="ref-p pull-left">
                  "Kurz byl pro mě ohromně přínosný. S&nbsp;pomocí koučů a lidí ve skupině jsem si po kurzu zvládla napsat pár krátkých prográmků, které mi zjednodušují každodenní práci a to jsem před pyladies o&nbsp;Pythonu sotva slyšela. Všichni jsou až neuvěřitelně ochotní pomoci. Rozhodně doporučuji!"
                  <p class="ref-name"><strong>Pavlína F.</strong></p>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ref">
                <p class="ref-p">
                  "Dříve jsem vyhledávala krátké jednodenní či víkendové kurzy programování pro slečny. Ale díky PyLadies srazům jsem zjistila, že scházet se každý týden, učit se postupně a více do detailů je jednoduše super a velmi přínosné! Odcházela jsem s&nbsp;pocitem, že umím informace ze srazů využít při psaní kódu. Oblíbila jsem si programovací jazyk Python a především komunitu kolem Pythonu. Nyní pokračuji na vlastních projektech dál a na PyLadies srazy se vracím jako koučka pro další slečny!"
                  <p class="ref-name"><strong>Verča G.</strong></p>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ref">
                <p class="ref-p pull-right">
                  "Kurz Pythonu u pražských Pyladies byl skvělý - komplexní, dobře vystavěný a srozumitelně prezentovaný. Vyžadoval pozornou účast a aktivní domácí práci, ale nikdy jsme v&nbsp;tom nebyly samy; k&nbsp;dispozici byli koučové, kteří ochotně zodpověděli všechny dotazy a pomohli překonat nástrahy učení, online i offline. Super způsob, jak se seznámit se základy programování a začlenit se do místní pythonovské komunity."
                  <p class="ref-name"><strong>Verča Š.</strong></p>
                </p>
            </div>
        </div>
    </section>

    <!-- Partners -->
    <section class="partners container">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">Naši partneři</h2>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="https://www.nic.cz/" target="_blank">
                <img class="partner-logo img-responsive logo-cz" src="{{ pathto('_static/img/logo/cznic.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="https://msdit.cz/" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/msdit.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="http://www.redhat.com/en/global/czech-republic" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/redhat.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="http://pyvec.org/" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/pyvec.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="http://www.experis.cz/" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/manpower.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="https://apiary.io/" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/apiary.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="https://www.tieto.cz/" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/tieto.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="https://usertechnologies.com/" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/usertech.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="https://www.python.org/psf/" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/PSFlogo.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="https://www.solarwinds.com/" target="_blank">
                <img class="partner-logo img-responsive" src="{{ pathto('_static/img/logo/solarwinds.png', 1) }}" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="https://www.kiwi.com/jobs" target="_blank">
                <img class="partner-logo logo-kiwi img-responsive" src="{{ pathto('_static/img/logo/kiwi.svg', 1) }}" />
            </a>
        </div>
    </section>
{% endblock content %}
