{# Macro for generating links in bottom of pages in advice section #}
{% macro advice(text, img, url) %}
    <a href="{{ url }}">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 about">
            <img height="110" src="{{ img }}" />
            <h4 class="about-title">{{ text }}</h4>
        </div>
    </a>
{% endmacro %}

{# Macro for generating team member boxes #}
{% macro member_box(name, img, role, links) %}
      <div class="member-box col-md-3 col-sm-4 col-xs-12">
        <img src="{{ url_for('static', filename=img) }}" class="img-circle img-responsive" />
        <h5 class"member-name text-center"><strong>{{ name }}</strong></h5>
        <span><em>{{ role }}</em></span>
        <ul class="list-inline">
          {%- for type, url in links -%}
            <li><a href="{{ url }}"><img src="{{ url_for('static', filename='img/icon/{}.png'.format(type)) }}" /></a></li>
          {%- endfor -%}
        </ul>
      </div>
{% endmacro %}

{% macro course_list(plan) %}
    <div class="row">
        <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {% for lesson in plan %}
            <div class="section-box" id="section{{ loop.index }}">
                <h4 class="section-heading">
                    {% if 'dates' in lesson %}
                        Lekce {{ loop.index }} - {{ lesson['name'] }}
                        <span class="pull-right section-date">
                            {% for date in lesson['dates'] %}
                                {{ date.day }}. {{ date.month }}.
                                {% if loop.last or date.year != lesson['dates'][-1].year %}
                                    {{ date.year }}
                                {% endif %}
                                {% if not loop.last %}
                                    a
                                {% endif %}
                            {% endfor %}
                        </span>
                    {% else %}
                        {{ lesson['name'] }}
                    {% endif %}
                </h4>
                {% if 'description' in lesson %}
                    <p class="section-info course-city-p">
                        {{ lesson['description'] }}
                    </p>
                {% endif %}
                {% for mat in lesson['materials'] %}
                    {% set done = mat.get('done', lesson.get('done', False)) %}
                    {% set done_class = 'section-done' if done else 'section-todo' %}
                    <div class="section-info">
                        {% if mat['type'] == 'lesson' %}
                            {% if done %}
                                {% set icon_class = 'glyphicon-ok ' + done_class %}
                            {% else %}
                                {% set icon_class = 'glyphicon-remove ' + done_class %}
                            {% endif %}
                        {% elif mat['type'] == 'handout' %}
                            {% set icon_class = 'glyphicon-book ' + done_class %}
                        {% elif mat['type'] == 'homework' %}
                            {% set icon_class = 'glyphicon-pencil' %}
                        {% elif mat['type'] == 'link' %}
                            {% set icon_class = 'glyphicon-link' %}
                        {% elif mat['type'] == 'special-lesson' %}
                            {% set icon_class = 'glyphicon-education ' + done_class %}
                        {% else %}
                            {% set icon_class = 'glyphicon-flag' %}
                        {% endif %}
                        <span class="glyphicon {{ icon_class }} section-icon"></span>
                        {% if 'link' in mat %}
                            <a href="{{ pathto(mat['link'], 1) }}">{{ mat['name'] }}</a>
                        {% else %}
                            {{ mat['name'] }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro meetup_info(meetup) %}
  <div class="meetup-box text-left">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h4 class="meetup-heading">{{ meetup.name | markdown(inline=True) }}</h4>
      {% if meetup.topic %}
        <p class="meetup-topic">
        <span class="glyphicon glyphicon-bookmark"></span>
        {{ meetup.topic }}
      {% endif %}
      {% if meetup.frequency %}
        <p class="meetup-date">
          <span class="glyphicon glyphicon-calendar"></span>
          {{ meetup.frequency }}
        </p>
      {% elif meetup.start, meetup.end %}
      <p class="meetup-date">
        <span class="glyphicon glyphicon-calendar"></span>
        {{ (meetup.start, meetup.end) | date_range }}
      </p>
      {% endif %}
      {% if meetup.time %}
        <p class="meetup-time">
          <span class="glyphicon glyphicon-hourglass"></span>
          {{ ('\n' ~ meetup.time) | markdown(inline=True) }}
        </p>
      {% endif %}
      {% if meetup.place %}
        <p class="meetup-address">
          <span class="glyphicon glyphicon-map-marker"></span>
          <a href="{{ meetup.place.url }}" target="_blank">
            {{ meetup.place.name }},
            {{ meetup.place.address }}
          </a>
        </p>
      {% endif %}
      {% if meetup.registration_status %}
        <p class="meetup-registration">
          <span class="glyphicon glyphicon-edit"></span>
          {% if meetup.registration_status == 'running' %}
            <a href="{{ meetup.registration.url }}">Registrace právě probíhá!</a>
          {% elif meetup.registration_status == 'closed' %}
            Registrace už je uzavřena :(
          {% elif meetup.registration_status == 'course_started' %}
            Kurz probíhá
          {% endif %}
        </p>
      {% endif %}
      {% if meetup.info_rsvp %}
        <p class="meetup-registration">
          <span class="glyphicon glyphicon-edit"></span>
          <a href="{{ meetup.info_rsvp.url }}">Potvrzení účasti a informace</a>
          </a>
        </p>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro meetup_list(meetups) %}
    {% if meetups['current'] %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-lg-10 col-md-10">
          <h2 class="course-city-heading">Aktuální kurzy a srazy</h2>
        </div>
      </div>
      <div class="row">
        {% for meetup in meetups['current'] %}
          {{ meetup_info(meetup) }}
          {% if not loop.last and loop.index0 % 2 %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if meetups['past'] %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-lg-10 col-md-10">
          <h2 class="course-city-heading">Proběhlé kurzy a srazy</h2>
        </div>
      </div>
      <div class="row">
        {% for meetup in meetups['past'] %}
          {{ meetup_info(meetup) }}
          {% if not loop.last and loop.index0 % 2 %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- ADD META TAGS -->
      <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"></meta>
      <meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
      <meta name="keywords" content="PyLadies, PyLady, kurz, sraz, programování, IT, python, workshop, slečny, ženy"></meta>
      <meta name="description" content="PyLadies jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k IT. K tomu využívá programovací jazyk Python, který je perfektní pro výukové účely a zároveň je po něm velká poptávka na trhu práce. Více o začátečnických kurzech v Brně, Praze a Ostravě zjistíš na www.pyladies.cz"></meta>
      <meta property="og:title" content="PyLadies CZ"></meta>
      <meta property="og:type" content="article"></meta>
      <meta property="og:image" content="{{ url_for('static', filename='img/bg/praha_msd.jpg') }}"></meta>
      <meta property="og:url" content="www.pyladies.cz"></meta>
      <meta property="og:description" content="PyLadies jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k IT. K tomu využívá programovací jazyk Python, který je perfektní pro výukové účely a zároveň je po něm velká poptávka na trhu práce. Více o začátečnických kurzech v Brně, Praze a Ostravě zjistíš na www.pyladies.cz"></meta>
      <meta name="twitter:card" content="summary"></meta>
      <meta name="twitter:title" content="PyLadies CZ"></meta>
      <meta name="twitter:site" content="@PyLadiesCZ"></meta>
      <meta name="twitter:description" content="PyLadies jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k IT. K tomu využívá programovací jazyk Python, který je perfektní pro výukové účely a zároveň je po něm velká poptávka na trhu práce. Více o začátečnických kurzech v Brně, Praze a Ostravě zjistíš na www.pyladies.cz"></meta>
      <meta name="twitter:image" content="{{ url_for('static', filename='img/bg/praha_msd.jpg') }}"></meta>

      <title>{% block title %}PyLadies CZ{% endblock title %}</title>

      {% block css %}
        <!-- Bootstrap CSS -->
        <link href="{{ pathto('_static/css/bootstrap.min.css', 1) }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ pathto('_static/css/custom.css', 1) }}" rel="stylesheet">
        <link href="{{ pathto('_static/css/responsive.css', 1) }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{ pathto('_static/fonts/font-awesome/css/font-awesome.min.css', 1) }}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700&subset=latin,greek,greek-ext,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      {% endblock css %}
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="{{ pathto('_static/img/favicon.ico', 1) }}" />
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Zeerat tracking code for pyladies.cz -->
    	<script>
    		(function(t,r,a,c,k,i,n,g){
    			t[k]=t[k]||{t:1*new Date(),k:i};
    			n=r.createElement(a),g=r.getElementsByTagName(a)[0];
    			n.async=1;n.src=c;g.parentNode.insertBefore(n,g)
    		})(window,document,'script','//cdn.zeerat.com/track.js','Zeerat','R3c4yUSA');
    	</script>
    <!-- End Zeerat code -->
    </head>

    <body id="page-top" data-spy="scroll" data-target="">
      <!-- Navigation -->
      <nav class="navbar navbar-custom" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand page-scroll" href="{{ pathto('index') }}">
                      <img class="logo-i" src="{{ pathto('_static/img/pyladies.png', 1) }}" />
                  </a>
              </div>
              <div class="navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kurzy
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                              <li><a href="{{ pathto('brno_course') }}">Brno</a></li>
                              <li><a href="{{ pathto('praha_course') }}">Praha</a></li>
                              <li><a href="{{ pathto('ostrava_course') }}">Ostrava</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materiály
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ pathto('brno') }}">Brno</a></li>
                            <li><a href="{{ pathto('praha') }}">Praha v CZ.NIC</a></li>
                            <li><a href="{{ pathto('praha_msd') }}">Praha v MSD IT</a></li>
                            <li><a href="{{ pathto('ostrava') }}">Ostrava</a></li>
                           <!-- <li role="separator" class="divider"></li>
                            <li><a href="#">Všechny</a></li> -->
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">O nás
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                              <li><a href="{{ pathto('brno_info') }}">Brno</a></li>
                              <li><a href="{{ pathto('praha_info') }}">Praha</a></li>
                              <li><a href="{{ pathto('ostrava_info') }}">Ostrava</a></li>
                        </ul>
                    </li>

                    <li class="join">
                      <a href="{{ pathto('stan_se') }}">Staň se PyLady!</a>
                    </li>
                    <li class="join">
                      <a href="{{ pathto('faq') }}">FAQ</a>
                    </li>
                    <li>
                      <a href="mailto:info@pyladies.cz">Napiš nám</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    {% block footer %}
    <footer>
        <div class="container text-left">
            <p class="pull-left copy">
              PyLadies CZ jsou součástí <a href="http://pyladies.com">mezinárodních PyLadies</a>.
            </p>
            <ul class="pull-right list-inline">
                <li>
                    <a href="https://twitter.com/pyladiescz">
                        <img class="social" src="{{ pathto('_static/img/icon/twitter.png', 1) }}" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/pyladiescz">
                        <img class="social" src="{{ pathto('_static/img/icon/github.png', 1) }}" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/groups/pyonieri/">
                        <img class="social" src="{{ pathto('_static/img/icon/facebook.png', 1) }}" />
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    {% endblock footer %}
    {% block javascript %}
        <!-- jQuery -->
        <script src="{{ pathto('_static/js/jquery.js', 1) }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ pathto('_static/js/bootstrap.min.js', 1) }}"></script>
        <!-- Plugin JavaScript -->
        <script src="{{ pathto('_static/js/jquery.easing.min.js', 1) }}"></script>
        <!-- Custom JavaScript -->
        <script src="{{ pathto('_static/js/custom.js', 1) }}"></script>
    {% endblock javascript %}
</body>
</html>
