<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- ADD META TAGS -->
      <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"></meta>
      <meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
      <meta name="keywords" content="PyLadies, PyLady, kurz, sraz, programování, IT, python, workshop, slečny, ženy"></meta>
      <meta name="description" content="PyLadies jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k IT. K tomu využívá programovací jazyk Python, který je perfektní pro výukové účely a zároveň je po něm velká poptávka na trhu práce. Více o začátečnických kurzech v Brně, Praze a Ostravě zjistíš na www.pyladies.cz"></meta>
      <meta property="og:title" content="PyLadies CZ"></meta>
      <meta property="og:type" content="article"></meta>
      <meta property="og:url" content="www.pyladies.cz"></meta>
      <meta property="og:description" content="PyLadies jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k IT. K tomu využívá programovací jazyk Python, který je perfektní pro výukové účely a zároveň je po něm velká poptávka na trhu práce. Více o začátečnických kurzech v Brně, Praze a Ostravě zjistíš na www.pyladies.cz"></meta>
      <meta name="twitter:card" content="summary"></meta>
      <meta name="twitter:title" content="PyLadies CZ"></meta>
      <meta name="twitter:site" content="@PyLadiesCZ"></meta>
      <meta name="twitter:description" content="PyLadies jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k IT. K tomu využívá programovací jazyk Python, který je perfektní pro výukové účely a zároveň je po něm velká poptávka na trhu práce. Více o začátečnických kurzech v Brně, Praze a Ostravě zjistíš na www.pyladies.cz"></meta>

      <title>{% block title %}PyLadies CZ{% endblock title %}</title>

      {% block extra_head %}
      {% endblock extra_head %}

      {% block css %}
        <!-- Bootstrap CSS -->
        <link href="{{ pathto('_static/css/bootstrap.min.css', 1) }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ pathto('_static/css/custom.css', 1) }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700&subset=latin,greek,greek-ext,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
      {% endblock css %}
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="{{ pathto('_static/img/favicon.ico', 1) }}" />
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!-- Zeerat tracking code for pyladies.cz -->

    	<script>
    		(function(t,r,a,c,k,i,n,g){
    			t[k]=t[k]||{t:1*new Date(),k:i};
    			n=r.createElement(a),g=r.getElementsByTagName(a)[0];
    			n.async=1;n.src=c;g.parentNode.insertBefore(n,g)
    		})(window,document,'script','//cdn.zeerat.com/track.js','Zeerat','R3c4yUSA');
    	</script>
    <!-- End Zeerat code -->
    </head>

    <body class="{% block body_class %}{% endblock %}">
      <div class="body-content">

      <!-- Navigation -->
      <nav class="main-navbar" role="navigation">
            <div class="container navbar-logo">
                <a href="{{ pathto('index') }}">
                    <img src="{{ pathto('_static/img/pyladies.png', 1) }}" />
                </a>
            </div>
            <div class="navbar-menu" id="hamburger-menu">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
            <ul class="navbar-other">
                <li class="materials-dropdown">
                    <a>Materiály<span class="caret"></span></a>
                    <ul>
                        {% for name, url in (
                                ('Brno – začátečnický kurz (pondělí)',
                                    'https://naucse.python.cz/2018/pyladies-brno-podzim-exp/'),
                                ('Brno – začátečnický kurz (středa)',
                                    'https://naucse.python.cz/2018/pyladies-brno-podzim/'),
                                ('Praha – začátečnický kurz (Olšanka)',
                                    'https://naucse.python.cz/2018/pyladies-praha-podzim-cznic/'),
                                ('Praha – začátečnický kurz (NTK)',
                                    'https://naucse.python.cz/2018/pyladies-praha-podzim-ntk/'),
                                ('Praha – začátečnický kurz (Bubeneč)',
                                    'https://naucse.python.cz/2018/pyladies-praha-podzim-bubenec/'),
                                ('Ostrava – začátečnický kurz',
                                    'https://naucse.python.cz/2018/pyladies-ostrava-podzim/'),
                                ('Samostudium',
                                    'https://naucse.python.cz/course/pyladies/'),
                                ) %}
                        <li>
                            <a href="{{ url }}">
                                {{ name }}
                                <small><span class="glyphicon"></span></small>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

                <li {% block current_page_class_stanse %}{% endblock %}>
                    <a href="{{ pathto('stan_se') }}">Staň se PyLady!</a>
                </li>
                <li {% block current_page_class_faq %}{% endblock %}>
                    <a href="{{ pathto('faq') }}">FAQ</a>
                </li>
            </ul>
            <div class="navbar-cities {% block banner_class %}faded-banner{% endblock %}">
                <ul>
                    {% for slug, city in cities.items() %}
                    <li {% block current_city_class scoped %}{% endblock %}>
                        <a href="{{ url_for('city', city_slug=slug) }}">
                            <span class="img-container">
                                <img class="city-outline" src="{{ pathto('_static/img/'+slug+'.svg', 1) }}" alt="">
                            </span>
                            <div class="city-title-box">
                            <span class="city-title">{{ city['title'] }}</span>
                            </div>
                            {% if city.active_registration %}
                              <span class='city-active-registration'>
                                Registrace otevřeny
                              </span>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% block content %} {% endblock %}
    </div>
    {% block footer %}
    <footer>
        <div class="container">
            <div class="global-pyladies">
              PyLadies CZ jsou součástí <a href="http://pyladies.com">mezinárodních PyLadies</a>.
            </div>
            <ul>
                <li>
                    <a href="mailto:info@pyladies.cz">
                        <img src="{{ pathto('_static/img/icon/mail-white.png', 1) }}" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/pyladiescz">
                        <img src="{{ pathto('_static/img/icon/twitter-white.png', 1) }}" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/pyladiescz">
                        <img src="{{ pathto('_static/img/icon/github-white.png', 1) }}" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/groups/pyonieri/">
                        <img src="{{ pathto('_static/img/icon/facebook-white.png', 1) }}" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </footer>
    <script src="{{ pathto('_static/js/script.js', 1) }}"></script>
    {% endblock footer %}
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
