{% extends "layout.html" %}
{% block content %}
    <!-- Intro Header -->
    <header class="intro-info intro-city-praha">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <p class="intro-text-city">PRAHA<br />
                        <span class="smaller">Začátečnický kurz v CZ.NIC</span></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Registration period -->
    <div class="actual container">
        <div class="col-xs-5 col-sm-10 col-md-12 col-lg-12">
            <h4 class="actual-heading">
                <!--
                <span class="actual-address">
                <a href="https://goo.gl/forms/PwQU4TanL6ZpSwNE3" target="_blank">Registrace na aktuální kurz jsou otevřeny!</a>
                </span> -->
                <!--<span class="pull-right actual-address">
                <a href="https://goo.gl/forms/PwQU4TanL6ZpSwNE3" target="_blank">Registrační formulář</a>
                </span> -->
            </h4>
        </div>
    </div> 
    <!-- Started course Prague -->
    <div class="actual container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="actual-heading">Další kurz bude probíhat od 19.9.2017 každé úterý od 18:00 do 20:00. 
                <span class="pull-right actual-address">
                    <a href="https://www.google.cz/maps/place/CZ.NIC,+z.+s.+p.+o./@50.079123,14.4490963,17z/data=!3m1!4b1!4m2!3m1!1s0x417314ec0f1850d3:0x7fea48d126f93e72?hl=cs" target="_blank">
                    <span class="glyphicon glyphicon-map-marker hidden-xs"></span>budova CZ.NIC, Milešovská 5, Praha 3
                    </a>
                </span>
            </h4>
        </div>
    </div>
    <!-- Course description -->
    <section class="course-city container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h2 class="course-city-heading">Začátečnický kurz</h2>
                <p class="course-city-p">Tento kurz tě naučí základy programování, konkrétně programování v Pythonu. Je rozdělen na zhruba dvouhodinové lekce, které na sebe navazují; domácí projekty, které lekce doplňují; a nepovinné odbočky, které ukazují zajímavosti a praktické použití probraných konceptů.</p>
            </div>
        </div>
        {{ course_list(plan) }}
    </section>
    <!-- Advice section -->
    <section id="about3" class="container-fluid content-section text-center">
        <div class="row">
          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
          {{ advice(text='Facebook PyLadies Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/1640052339543471/') }}
          {{ advice(text='Advanced PyLadies a PyWorking Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/PyWorkingPraha/') }}
          {{ advice(text='Google Group PyLadies Praha', img=pathto('_static/img/link/google-group.png', 1), url='https://groups.google.com/forum/#!forum/pyladies-praha') }}
          {{ advice(text='Napiš koučovi', img=pathto('_static/img/link/coach.png', 1), url='mailto:pyladies-praha@googlegroups.com') }}
      </div>
    </section>
{% endblock content %}
