{% extends "layout.html" %}

{% macro course_list(plan) %}
    <div class="row">
        <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {% for lesson in plan %}
            <div class="section-box" id="section{{ loop.index }}">
                <h4 class="section-heading">
                    {% if 'dates' in lesson %}
                        Lekce {{ loop.index }} - {{ lesson['name'] }}
                        <span class="pull-right section-date">
                            {% for date in lesson['dates'] %}
                                {{ date.day }}. {{ date.month }}.
                                {% if loop.last or date.year != lesson['dates'][-1].year %}
                                    {{ date.year }}
                                {% endif %}
                                {% if not loop.last %}
                                    a
                                {% endif %}
                            {% endfor %}
                        </span>
                    {% else %}
                        {{ lesson['name'] }}
                    {% endif %}
                </h4>
                {% if 'description' in lesson %}
                    <p class="section-info course-city-p">
                        {{ lesson['description'] }}
                    </p>
                {% endif %}
                {% for mat in lesson['materials'] %}
                    {% set done = mat.get('done', lesson.get('done', False)) %}
                    {% set done_class = 'section-done' if done else 'section-todo' %}
                    <div class="section-info">
                        {% if mat['type'] == 'lesson' %}
                            {% if done %}
                                {% set icon_class = 'glyphicon-ok ' + done_class %}
                            {% else %}
                                {% set icon_class = 'glyphicon-chevron-right ' + done_class %}
                            {% endif %}
                        {% elif mat['type'] == 'handout' %}
                            {% set icon_class = 'glyphicon-book ' + done_class %}
                        {% elif mat['type'] == 'homework' %}
                            {% set icon_class = 'glyphicon-pencil' %}
                        {% elif mat['type'] == 'link' %}
                            {% set icon_class = 'glyphicon-link' %}
                        {% elif mat['type'] == 'special-lesson' %}
                            {% set icon_class = 'glyphicon-education ' + done_class %}
                        {% else %}
                            {% set icon_class = 'glyphicon-flag' %}
                        {% endif %}
                        <span class="glyphicon {{ icon_class }} section-icon"></span>
                        {% if 'link' in mat %}
                            <a href="{{ pathto(mat['link'], 1) }}">{{ mat['name'] }}</a>
                        {% else %}
                            {{ mat['name'] }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% block content %}
    <!-- Intro Header -->
    <header class="intro-info intro-city-praha">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <p class="intro-text-city">PRAHA<br />
                        <span class="smaller">Začátečnický kurz v {{ 'CZ.NIC' if location == 'cznic' else 'NTK' }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Registration period
    <div class="actual container">
        <div class="col-xs-5 col-sm-10 col-md-12 col-lg-12">
            <h4 class="actual-heading">
                <span class="actual-address">
                <a href="https://goo.gl/forms/PwQU4TanL6ZpSwNE3" target="_blank">Registrace na aktuální kurz jsou otevřeny!</a>
                </span>
                <span class="pull-right actual-address">
                <a href="https://goo.gl/forms/PwQU4TanL6ZpSwNE3" target="_blank">Registrační formulář</a>
                </span>
            </h4>
        </div>
    </div>  -->
    <!-- Started course Prague -->
    <div class="actual container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="actual-heading">Aktuální kurz - jaro 2018<br>
                <span class="pull-right actual-address">
                    {% if location == 'cznic' %}
                        Každý čtvrtek od 8.3.2018 od 18:00 do 20:00 v CZ.NIC
                        <a href="https://www.google.cz/maps/place/Hotel+Ol%C5%A1anka/@50.0828549,14.4552392,17z/data=!3m1!4b1!4m5!3m4!1s0x470b9361dfdd06b7:0x967cf4b46e46fa30!8m2!3d50.0828549!4d14.4574279" target="_blank">
                            <span class="glyphicon glyphicon-map-marker hidden-xs"></span>CZ.NIC, hotel Olšanka, Táboritská 23/1000, Praha 3
                        </a>
                    {% elif location == 'ntk'%}
                        Každou středu od 7.3.2018 od 18:00 do 20:00 v NTK
                        <a href="https://www.google.cz/maps/place/N%C3%A1rodn%C3%AD+technick%C3%A1+knihovna/@50.1039236,14.3885145,17z/data=!4m5!3m4!1s0x470b94e8b61a7d13:0x917af83b84a0902!8m2!3d50.1039236!4d14.3907032" target="_blank">
                            <span class="glyphicon glyphicon-map-marker hidden-xs"></span>Národní technická knihovna, Technická 2710/6, Praha 6
                        </a>
                    {% endif%}
                </span>
            </h4>
        </div>
    </div>
    <!-- Course description -->
    <section class="course-city container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h2 class="course-city-heading">Začátečnický kurz</h2>
                <p class="course-city-p">Tento kurz tě naučí základy programování, konkrétně programování v Pythonu. Je rozdělen na zhruba dvouhodinové lekce, které na sebe navazují; domácí projekty, které lekce doplňují; a nepovinné odbočky, které ukazují zajímavosti a praktické použití probraných konceptů.</p>
            </div>
        </div>
        {{ course_list(plan) }}
    </section>
    <!-- Advice section -->
    <section id="about3" class="container-fluid content-section text-center">
        <div class="row">
          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
          {{ advice(text='Facebook PyLadies Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/1640052339543471/') }}
          {{ advice(text='PyWorking Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/PyWorkingPraha/') }}
          {{ advice(text='Google Group PyLadies Praha', img=pathto('_static/img/link/google-group.png', 1), url='https://groups.google.com/forum/#!forum/pyladies-praha') }}
          {{ advice(text='Napiš koučovi', img=pathto('_static/img/link/coach.png', 1), url='mailto:pyladies-praha@googlegroups.com') }}
      </div>
    </section>
{% endblock content %}
