{% extends "layout.html" %}
{% block content %}
  <!-- Intro Header -->
  <header class="intro-info intro-city-praha-msd">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            <p class="intro-text-city">PRAHA</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Meetups -->
  <section class="meetup container text-center" id="meetups">
    {{ meetup_list(meetups) }}
  </section>

  <!-- Advice section -->
  <section id="about3" class="container-fluid content-section text-center">
    <div class="row">
      <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
      {{ advice(text='Facebook PyLadies Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/PyLadiesPraha/') }}
      {{ advice(text='Advanced PyLadies Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/AdvancedPyLadiesPraha/') }}
      {{ advice(text='Google Group PyLadies Praha', img=pathto('_static/img/link/google-group.png', 1), url='https://groups.google.com/forum/#!forum/pyladies-praha') }}
      {{ advice(text='Napiš koučovi', img=pathto('_static/img/link/coach.png', 1), url='mailto:pyladies-praha@googlegroups.com') }}
    </div>
  </section>
{% endblock content %}
