{% extends "layout.html" %}
{% block content %}
  <!-- Intro Header -->
  <header class="intro-info intro-city-praha">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                      <p class="intro-text-city">PRAHA</p>
                  </div>
              </div>
          </div>
      </div>
  </header>
      <!-- About city section -->
      <section class="info-city container text-center">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <h2 class="course-city-heading">Jak to vzniklo v Praze?</h2>
                <p class="course-city-p">PyLadies v Praze vznikly v roce 2015 díky iniciativě pražské Python komunity a organizačním schopnostem pár akčních holek, které měly zájem se kurzu samy účastnit.  Spouštěcím impulsem byl i úspěch jednodenního workshopu Django Girls Prague, rovněž zaměřeného na programování v Pythonu. Vytvořili jsme pražskou pilotní skupinu PyLadies a během prvního kurzu společně vylaďovali organizaci i náplň pražských srazů do současné podoby. Nyní kurz PyLadies představuje zhruba 14 dvouhodinových lekcí, které jsou doplněny i samostatnou prací na domácích projektech.</p>
                <p class="course-city-p">Na kurz pro začátečnice jsme v roce 2016 navázaly pondělními srazy Advanced PyLadies Praha, kde mohou absolventky začátečnického kurzu pracovat na svých vlastních projektech.</p>
            </div>
            <div class="photo-box">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/praha/praha1.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/praha/praha2.jpg', 1) }}" class="img-responsive city-image" />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 city-box">
                    <img src="{{ pathto('_static/img/praha/praha3.jpg', 1) }}" class="img-responsive city-image" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <p class="course-city-p">Společné setkávání v rámci PyLadies má velkou výhodu v tom, že se můžou holky navzájem průběžně motivovat a podporovat. Začátky bývají těžké, ale lidé kolem PyLadies vždycky ochotně pomůžou počáteční překážky překonávat. Díky týmu nadšenců fungují PyLadies čistě na dobrovolné a nezištné bázi.</p>
            </div>
        </div>
    </section>
  <!-- Team section -->
  <section id="team" class="container content-section text-center">
    <h2 class="course-city-heading">Tým pražských PyLadies</h2>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/zuzka.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Zuzana Válková</strong></h5>
      <span><em>Organizátorka/Koučka</em></span>
      <ul class="list-inline">
        <li><a href="mailto:valkova.zuza@seznam.cz"><img src="{{ pathto('_static/img/icon/mail-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/veronika.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Veronika Gabrielová</strong></h5>
      <span><em>Organizátorka</em></span>
      <ul class="list-inline">
        <li><a href="mailto:gabrielova.veronika@gmail.com"><img src="{{ pathto('_static/img/icon/mail-link.png', 1) }}" /></a></li>
        <li><a href="https://www.facebook.com/veronika.gabrielova.7"><img src="{{ pathto('_static/img/icon/facebook-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/paffi.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Pavlína Froňková</strong></h5>
      <span><em>Organizátorka/Koučka</em></span>
      <ul class="list-inline">
        <li><a href="mailto:pavlina.fronkova@gmail.com"><img src="{{ pathto('_static/img/icon/mail-link.png', 1) }}" /></a></li>
        <li><a href="https://www.facebook.com/pavlina.fronkova"><img src="{{ pathto('_static/img/icon/facebook-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/zuzka-k.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Zuzana Kašáková</strong></h5>
      <span><em>Organizátorka/Koučka</em></span>
      <ul class="list-inline">
        <li><a href="mailto:zuza.kasakova@gmail.com"><img src="{{ pathto('_static/img/icon/mail-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/tyna2.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Kristýna Doležalová</strong></h5>
      <span><em>Organizátorka/Koučka</em></span>
      <ul class="list-inline">
        <li><a href="mailto:dolezalova.tynka@gmail.com"><img src="{{ pathto('_static/img/icon/mail-link.png', 1) }}" /></a></li>
        <li><a href="https://www.facebook.com/kristyna.dolezalova.58"><img src="{{ pathto('_static/img/icon/facebook-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/lenka.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Lenka Matějová</strong></h5>
      <span><em>Organizátorka/Koučka</em></span>
      <ul class="list-inline">
        <li><a href="https://twitter.com/zoellenka "><img src="{{ pathto('_static/img/icon/twitter-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/verca.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Veronika Švecová</strong></h5>
      <span><em>Organizátorka/Koučka</em></span>
      <ul class="list-inline">
        <li><a href="https://twitter.com/ostruzina"><img src="{{ pathto('_static/img/icon/twitter-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/vojta2.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Vojtěch Růžička</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="https://vojtechruzicka.com/"><img src="{{ pathto('_static/img/icon/website-link.png', 1) }}" /></a></li>
        <li><a href="https://twitter.com/vojtechruzicka"><img src="{{ pathto('_static/img/icon/twitter-link.png', 1) }}" /></a></li>
        <li><a href="mailto:vojtech.ruz@gmail.com"><img src="{{ pathto('_static/img/icon/mail-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/oskar.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Oskar Hollmann</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="https://github.com/asgeirrr"><img src="{{ pathto('_static/img/icon/github-link.png', 1) }}" /></a></li>
        <li><a href="https://twitter.com/OskarHollmann"><img src="{{ pathto('_static/img/icon/twitter-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/nasta.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Anastázie Sedláková</strong></h5>
      <span><em>Koučka</em></span>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/filip.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Filip Sedlák</strong></h5>
      <span><em>Kouč</em></span>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/vasek.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Vašek Chalupníček</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="https://github.com/vasekch"><img src="{{ pathto('_static/img/icon/github-link.png', 1) }}" /></a></li>
        <li><a href="https://www.linkedin.com/in/v%C3%A1clav-chalupn%C3%AD%C4%8Dek-15a2b228"><img src="{{ pathto('_static/img/icon/linkedin-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/martin.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Martin Jahn</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="https://jahn.sk/"><img src="{{ pathto('_static/img/icon/website-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/nada.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Naďa Jašíková</strong></h5>
      <span><em>Koučka</em></span>
      <ul class="list-inline">
        <li><a href="https://github.com/nadade"><img src="{{ pathto('_static/img/icon/github-link.png', 1) }}" /></a></li>
        <li><a href="https://www.facebook.com/nada.jasikova"><img src="{{ pathto('_static/img/icon/facebook-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/stepanka.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Štěpánka Lucinová</strong></h5>
      <span><em>Koučka</em></span>
      <ul class="list-inline">
        <li><a href="https://www.facebook.com/stepanka.stephanie"><img src="{{ pathto('_static/img/icon/facebook-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/josef.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Josef Rousek</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="http://rousek.name/"><img src="{{ pathto('_static/img/icon/website-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/peter.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Peter Hozák</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="https://www.facebook.com/peter.hozak"><img src="{{ pathto('_static/img/icon/facebook-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/honza.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Honza Čermák</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="https://twitter.com/sairon"><img src="{{ pathto('_static/img/icon/twitter-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/sveta.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Svetlana Margetová</strong></h5>
      <span><em>Koučka</em></span>
      <ul class="list-inline">
        <li><a href="https://github.com/SvetlanaM"><img src="{{ pathto('_static/img/icon/github-link.png', 1) }}" /></a></li>
        <li><a href="http://margetova.eu/"><img src="{{ pathto('_static/img/icon/website-link.png', 1) }}" /></a></li>
        <li><a href="https://www.linkedin.com/in/msvetlana"><img src="{{ pathto('_static/img/icon/linkedin-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/radek.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Radek Holý</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="https://www.linkedin.com/in/pydeq/cs"><img src="{{ pathto('_static/img/icon/linkedin-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/miro.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Miro Hrončok</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="mailto:miro@hroncok.cz"><img src="{{ pathto('_static/img/icon/mail-link.png', 1) }}" /></a></li>
        <li><a href="https://www.facebook.com/hroncok"><img src="{{ pathto('_static/img/icon/facebook-link.png', 1) }}" /></a></li>
        <li><a href="https://twitter.com/hroncok"><img src="{{ pathto('_static/img/icon/twitter-link.png', 1) }}" /></a></li>
        <li><a href="http://hroncok.cz/"><img src="{{ pathto('_static/img/icon/website-link.png', 1) }}" /></a></li>
        <li><a href="https://github.com/hroncok"><img src="{{ pathto('_static/img/icon/github-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/petrmatuska2.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Petr Matuška</strong></h5>
      <span><em>Kouč</em></span>
      <ul class="list-inline">
        <li><a href="mailto:matuska.petr@gmail.com"><img src="{{ pathto('_static/img/icon/mail-link.png', 1) }}" /></a></li>
        <li><a href="https://www.facebook.com/matuska.petr"><img src="{{ pathto('_static/img/icon/facebook-link.png', 1) }}" /></a></li>
        <li><a href="https://cz.linkedin.com/in/matuskapetr"><img src="{{ pathto('_static/img/icon/linkedin-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/peterv.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Petr Viktorin</strong></h5>
      <span><em>Kouč v Brně/Tvůrce materiálů</em></span>
      <ul class="list-inline">
        <li><a href="http://encukou.cz"><img src="{{ pathto('_static/img/icon/website-link.png', 1) }}" /></a></li>
      </ul>
    </div>
    <div class="member-box col-md-3 col-sm-4 col-xs-12">
      <img src="{{ pathto('_static/img/praha/team/honzaj.jpg', 1) }}" class="img-circle img-responsive" />
      <h5 class"member-name text-center"><strong>Honza Javorek</strong></h5>
      <span><em>Maskot Pythonu</em></span>
      <ul class="list-inline">
        <li><a href="http://honzajavorek.cz/"><img src="{{ pathto('_static/img/icon/website-link.png', 1) }}" /></a></li>
        <li><a href="https://twitter.com/honzajavorek"><img src="{{ pathto('_static/img/icon/twitter-link.png', 1) }}" /></a></li>
        <li><a href="https://github.com/honzajavorek"><img src="{{ pathto('_static/img/icon/github-link.png', 1) }}" /></a></li>
      </ul>
    </div>
  </section>
    <!-- Advice section -->
    <section id="about3" class="container-fluid content-section text-center">
      <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
        {{ advice(text='Facebook PyLadies Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/pyladiespraha/') }}
        {{ advice(text='Advanced PyLadies a PyWorking Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/PyWorkingPraha/') }}
        {{ advice(text='Google Group PyLadies Praha', img=pathto('_static/img/link/google-group.png', 1), url='https://groups.google.com/forum/#!forum/pyladies-praha') }}
        {{ advice(text='Napiš koučovi', img=pathto('_static/img/link/coach.png', 1), url='mailto:pyladies-praha@googlegroups.com') }}
      </div>
    </section>
{% endblock content %}
