{% extends "layout.html" %}
{% block content %}
  <!-- Intro Header -->
  <header class="intro-info intro-city-praha-msd">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            <p class="intro-text-city">PRAHA</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Meetups -->
  <section class="meetup container text-center" id="meetups">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-lg-10 col-md-10">
        <h2 class="course-city-heading">Aktuální kurzy a srazy</h2>
      </div>
    </div>
    <div class="row">
      <div class="meetup-box text-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">Kurz Webfrontend<br>Tvorba webu</h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>31.1. - 28.2.2017</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>18:00 - 20:00</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.cz/maps/place/Apiary/@50.0919519,14.4544029,15z/data=!4m5!3m4!1s0x0:0xf904379c587b1bb7!8m2!3d50.0919519!4d14.4544029" target="_blank">Apiary, Pernerova 49, Praha 8 - Karlín</a></p>
          <p class="meetup-registration"><span class="glyphicon glyphicon-edit"></span>Kurz probíhá</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">Advanced PyLadies & PyWorking Praha<br>pokročilé a doučovací srazy</h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>pondělky ve 14 denních intervalech</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>18:00 - 20:00</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href='https://usertechnologies.com/'>Usertech</a></p>
          <p class="meetup-registration"><span class="glyphicon glyphicon-edit"></span><a href='https://www.meetup.com/pyladiescz/'>Potvrď účast na meetup.com</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-lg-10 col-md-10">
        <h2 class="course-city-heading">Proběhlé kurzy a srazy</h2>
      </div>
    </div>
    <div class="row">
      <div class="meetup-box text-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">Kurz Testování<br>vhled do automatizovaného testování</h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>14.1. a 15.1. 2017</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>9:00 - 16:00</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span>budova <a href="https://www.google.cz/maps/place/CZ.NIC,+z.+s.+p.+o./@50.079123,14.4490963,17z/data=!3m1!4b1!4m2!3m1!1s0x417314ec0f1850d3:0x7fea48d126f93e72?hl=cs" target="_blank">CZ.NIC, Milešovská 5, Praha 3</a></p>
          <p class="meetup-registration"><span class="glyphicon glyphicon-edit"></span>Kurz proběhl</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">Lednový PyWorking<br>meetup pro pokročilé začátečníky</h4>
          <p class="meetup-topic"><span class="glyphicon glyphicon-bookmark"></span>Django Polls</p>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>28.1.2017</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>9:00 - 17:30</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.cz/maps/place/MSD/@50.0670442,14.408024,17z/data=!3m1!4b1!4m5!3m4!1s0x470b945967ee4865:0x99578d127cf52018!8m2!3d50.0670442!4d14.4102127" target="_blank">MSD IT (Riverview), Svornosti 3321/2, Praha 5</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="meetup-box text-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading"><a href="/praha/msd/">PyLadies Praha<br>začátečnický kurz</a></h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>05.10. - 21.12. 2016</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>každou středu 18:30 - 20:30</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span>budova <a href="https://www.google.cz/maps/place/MSD/@50.0670442,14.408024,17z/data=!3m1!4b1!4m5!3m4!1s0x470b945967ee4865:0x99578d127cf52018!8m2!3d50.0670442!4d14.4102127" target="_blank">MSD IT (Riverview), Svornosti 3321/2, Praha 5</a></p>
          <p class="meetup-registration"><span class="glyphicon glyphicon-edit"></span><a href="https://goo.gl/forms/EtMvvQjIq40x4t5x1" target="_blank">Kurz proběhl</a></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">Vánoční MicroPython<br>pokračování začátečnického MicroPython kurzu s <a href="https://twitter.com/josefrousek" target="_blank">Josefem Rouskem</a></h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>12.12.2016</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>18:00 - 20:30</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.cz/maps/place/Štefánikova+13%2F43,+150+00+Praha+5-Sm%C3%ADchov/@50.0764314,14.4016603,17z/data=!3m1!4b1!4m5!3m4!1s0x470b94f938dd9c6d:0xa7239b1dd6398d30!8m2!3d50.0764314!4d14.403849" target="_blank">Usertech, Štefánikova 43a, Praha 5 - Anděl</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="meetup-box text-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">Prosincový PyWorking<br>meetup pro pokročilé začátečníky</h4>
          <p class="meetup-topic"><span class="glyphicon glyphicon-bookmark"></span>Django - první webová aplikace</p>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>10.12.2016</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>9:00 - 17:30</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.cz/maps/place/Apiary/@50.0919519,14.4544029,15z/data=!4m5!3m4!1s0x0:0xf904379c587b1bb7!8m2!3d50.0919519!4d14.4544029" target="_blank">Apiary, Pernerova 49, Praha 8 - Karlín</a></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading"><a href="/praha/cznic/">PyLadies Praha<br>začátečnický kurz</a></h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>13.09. - 6.12. 2016</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>každé úterý 18:00 - 20:00</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span>budova <a href="https://www.google.cz/maps/place/CZ.NIC,+z.+s.+p.+o./@50.079123,14.4490963,17z/data=!3m1!4b1!4m2!3m1!1s0x417314ec0f1850d3:0x7fea48d126f93e72?hl=cs" target="_blank">CZ.NIC, Milešovská 5, Praha 3</a></p>
          <p class="meetup-registration"><span class="glyphicon glyphicon-edit"></span><a href="https://goo.gl/forms/EtMvvQjIq40x4t5x1" target="_blank">Kurz proběhl</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="meetup-box text-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">PyLadies Praha<br>začátečnický kurz</h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>05.04. - 28.06. 2016</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>aktuálně neprobíhá</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.cz/maps/place/CZ.NIC,+z.+s.+p.+o./@50.079123,14.4490963,17z/data=!3m1!4b1!4m2!3m1!1s0x417314ec0f1850d3:0x7fea48d126f93e72?hl=cs" target="_blank">budova CZ.NIC, Milešovská 5, Praha 3</a></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">PyLadies Praha<br>pokročilé a doučovací srazy</h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>probíhají opakovaně</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>každé pondělí 18:00 - 20:00</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span>probíhal na různých místech v Praze</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="meetup-box text-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4 class="meetup-heading">Jednodenní hardwarový workshop u Prahy<br>MicroPython a LED světýlka</h4>
          <p class="meetup-date"><span class="glyphicon glyphicon-calendar"></span>19.08.2016</p>
          <p class="meetup-time"><span class="glyphicon glyphicon-hourglass"></span>celý den</p>
          <p class="meetup-address"><span class="glyphicon glyphicon-map-marker"></span><a href="http://www.msene-lazne.cz/" target="_blank">Mšené-lázně</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Advice section -->
  <section id="about3" class="container-fluid content-section text-center">
    <div class="row">
      <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start-title2">Potřebuješ poradit?</h2>
      {{ advice(text='Facebook PyLadies Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/PyLadiesPraha/') }}
      {{ advice(text='Advanced PyLadies Praha', img=pathto('_static/img/link/facebook.png', 1), url='https://www.facebook.com/groups/AdvancedPyLadiesPraha/') }}
      {{ advice(text='Google Group PyLadies Praha', img=pathto('_static/img/link/google-group.png', 1), url='https://groups.google.com/forum/#!forum/pyladies-praha') }}
      {{ advice(text='Napiš koučovi', img=pathto('_static/img/link/coach.png', 1), url='mailto:pyladies-praha@googlegroups.com') }}
    </div>
  </section>
{% endblock content %}
