name: Run Tests

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: True
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt
        python -m pip install -r test-requirements.txt
    - name: Freeze HTML
      run: |
        python -m pytest -v --ignore=original/ --ignore=_build/
